<li class="lvl-1{% if link.active or link.child_active %} active{% endif %}">
  {%- assign label1 = link.title |  split: '[label' | last | split: ']' | first | prepend: "nm_label" -%}
  <a href="{{ link.url }}" class="site-nav lvl-1">{{ link.title | split: '[label' | first }}{% if link.title contains '[label' %}<span class="lbl {{label1}}">{{ section.settings[label1] }}</span>{% endif %}{%- if link.links != blank -%}<i class="ad ad-angle-{% if settings.rtl %}left{% else %}right{% endif %}-r" aria-hidden="true"></i>{%- endif -%}</a>
  {%- if link.links != blank -%}
  <ul class="subLinks">
    {%- for childlink in link.links -%}
    <li class="lvl-2{% if childlink.active or childlink.child_active %} active{% endif %}">
      {%- assign label2 = childlink.title |  split: '[label' | last  | split: ']' | first | prepend: "nm_label" -%}
      <a href="{{ childlink.url }}" class="site-nav lvl-2">{{ childlink.title | split: '[label' | first }}{% if childlink.title contains '[label' %}<span class="lbl {{label2}}">{{ section.settings[label2] }}</span>{% endif %}{%- if childlink.links != blank -%}<i class="ad ad-angle-{% if settings.rtl %}left{% else %}right{% endif %}-r" aria-hidden="true"></i>{%- endif -%}</a>
      {%- if childlink.links != blank -%}
      <ul class="subLinks">
        {%- for lvl3link in childlink.links -%}
        <li class="lvl-3 {% if lvl3link.active %}active{% endif %}">
          {%- assign label3 = lvl3link.title |  split: '[label' | last  | split: ']' | first | prepend: "nm_label" -%}
          <a href="{{ lvl3link.url }}" class="site-nav lvl-3">{{ lvl3link.title | split: '[label' | first }}{% if lvl3link.title contains '[label' %}<span class="lbl {{label3}}">{{ section.settings[label3] }}</span>{% endif %}</a>
        </li>
        {%- endfor -%}
      </ul>
      {%- endif -%}
    </li>
    {%- endfor -%}
  </ul>
  {%- endif -%}
</li>