<div class="pagination">	
  <ul>
    {% if paginate.previous %}
    	{% if settings.rtl %}
            <li class="prev">{{ '<i class="ad ad-caret-right" aria-hidden="true"></i>' | link_to: paginate.previous.url }}</li>
        {% else %}
            <li class="prev">{{ '<i class="ad ad-caret-left" aria-hidden="true"></i>' | link_to: paginate.previous.url }}</li>
        {% endif %}
    
    {% endif %}

    {% for part in paginate.parts %}
    {% if part.is_link %}
    <li>{{ part.title | link_to: part.url }}</li>
    {% else %}
    {% if part.title == '&hellip;' %}
    <li class="ellipsis disabled"><a href="#" onclick="return false;">{{ part.title }}</a></li>
    {% else %}
    <li class="active">{{ part.title | link_to: part.url }}</li>
    {% endif %}
    {% endif %}
    {% endfor %}     

    {% if paginate.next %}
    {% if settings.rtl %}
    	<li class="next">{{ '<i class="ad ad-caret-left" aria-hidden="true"></i>' | link_to: paginate.next.url }}</li>
    {% else %}
    	<li class="next">{{ '<i class="ad ad-caret-right" aria-hidden="true"></i>' | link_to: paginate.next.url }}</li>
    {% endif %}
    {% endif %}
  </ul>		
</div>
