{% comment %}
  Renders product variant-picker

  Accepts:
  - product: {Object} product object.
  - block: {Object} passing the block information.
  - product_form_id: {String} Id of the product form to which the variant picker is associated.
  - update_url: {Boolean} whether or not to update url when changing variants. If false, the url isn't updated. Default: true (optional).
  Usage:
  {% render 'product-variant-picker', product: product, block: block, product_form_id: product_form_id %}
{% endcomment %}
{%- unless product.has_only_default_variant -%}
  <variant-selects
    id="variant-selects-{{ section.id }}"
    data-section="{{ section.id }}"
    data-url="{{ product.url }}"
    {% if update_url == false %}
      data-update-url="false"
    {% endif %}
    {{ block.shopify_attributes }}
  >
    {%- liquid
      assign titleparts = product.title | remove: 'Dark ' | remove: 'Melange ' | remove: 'Light ' | remove: 'Navy ' | remove: 'Triple ' | split: ' '
      assign title = ''
      for part in titleparts
        unless forloop.first
          if forloop.last
            assign title = title | append: part
          else
            assign title = title | append: part | append: ' '
          endif
        endunless
      endfor
      if collection
        assign col = collection
      else
        assign col = 'all'
      endif
      assign prods = ''
      paginate collections[col].products by 1000
        for prod in collections[col].products
          assign prodparts = prod.title | remove: 'Dark ' | remove: 'Melange ' | remove: 'Light ' | remove: 'Navy ' | remove: 'Triple ' | split: ' '
          assign prodtitle = ''
          for part in prodparts
            unless forloop.first
              if forloop.last
                assign prodtitle = prodtitle | append: part
              else
                assign prodtitle = prodtitle | append: part | append: ' '
              endif
            endunless
          endfor
          if prodtitle == title and prod != product and prod.available and prod.featured_image != blank
            assign prods = prods | append: prod.handle | append: ','
          endif
        endfor
      endpaginate
    -%}
    {%- if prods != '' -%}
      <div class="swiper color-variants-carousel">
        <div class="product-form_input swiper-wrapper">
          {%- if product.available -%}
            <label class="color swiper-slide checked" title="{{ product.title | escape }}">
              {{- product.featured_image | image_url: width: 60 | image_tag -}}
            </label>
          {%- endif -%}
          {%- assign prods = prods | split: ',' -%}
          {%- for prod in prods -%}
            <a
              class="color swiper-slide"
              href="{{ all_products[prod].url }}"
              title="{{ all_products[prod].title | escape }}"
            >
              {{ all_products[prod].featured_image | image_url: width: 60 | image_tag }}
            </a>
          {%- endfor -%}
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
      </div>
    {%- endif -%}
    {%- for option in product.options_with_values -%}
      {%- liquid
        assign swatch_count = option.values | map: 'swatch' | compact | size
        assign picker_type = block.settings.picker_type

        if swatch_count > 0 and block.settings.swatch_shape != 'none'
          if block.settings.picker_type == 'dropdown'
            assign picker_type = 'swatch_dropdown'
          else
            assign picker_type = 'swatch'
          endif
        endif
      -%}
      {%- if picker_type == 'swatch' -%}
        <fieldset class="js product-form__input product-form__input--swatch">
          <legend class="form__label">
            {{ option.name }}:
            <span data-selected-swatch-value="{{ option.name }}">
              {{- option.selected_value -}}
            </span>
          </legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- elsif picker_type == 'button' -%}
        <fieldset class="js product-form__input product-form__input--pill">
          <legend class="form__label">{{ option.name }}</legend>
          {% render 'product-variant-options',
            product: product,
            option: option,
            block: block,
            picker_type: picker_type
          %}
        </fieldset>
      {%- else -%}
        <div class="product-form__input product-form__input--dropdown">
          <label class="form__label" for="Option-{{ section.id }}-{{ forloop.index0 }}">
            {{ option.name }}
          </label>
          <div class="select">
            {%- if picker_type == 'swatch_dropdown' -%}
              <span
                data-selected-dropdown-swatch="options[{{ option.name | escape }}]"
                class="dropdown-swatch"
              >
                {% render 'swatch', swatch: option.selected_value.swatch, shape: block.settings.swatch_shape %}
              </span>
            {%- endif -%}
            <select
              id="Option-{{ section.id }}-{{ forloop.index0 }}"
              class="select__select"
              name="options[{{ option.name | escape }}]"
              form="{{ product_form_id }}"
            >
              {% render 'product-variant-options',
                product: product,
                option: option,
                block: block,
                picker_type: picker_type
              %}
            </select>
            {% render 'icon-caret' %}
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}
    <script type="application/json">
      {{ product.variants | json }}
    </script>
  </variant-selects>
{%- endunless -%}

<style>
  .color-variants-carousel label.color.checked {
    background: none !important;
  }
  .color-variants-carousel .swiper-button-next,
  .color-variants-carousel .swiper-button-prev {
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
  }
  .color-variants-carousel .swiper-button-next {
    padding-left: 2px;
    right: 5px;
  }

  .color-variants-carousel .swiper-button-prev {
    padding-right: 2px;
    left: 5px;
  }
  .color-variants-carousel .swiper-button-next:after,
  .color-variants-carousel .swiper-button-prev:after {
    color: white !important;
    font-size: 12px !important;
  }
  .color-variants-carousel .swiper-button-disabled {
    opacity: 0;
  }

  .color-variants-carousel .color {
    width: 59px;
  }
</style>
<script>
  document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.color-variants-carousel', {
      loop: false,
      slidesPerView: 'auto',
      spaceBetween: 0,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      // breakpoints: {
      //   1024: {
      //     slidesPerView: 8,
      //   },
      //   1200: {
      //     slidesPerView: 10,
      //   },
      //   1400: {
      //     slidesPerView: 12,
      //   },
      // },
    });
  });
</script>
