{% if settings.reviews == 'shopify' %}
	<span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>


{% elsif settings.reviews == 'loox' %}
<div class="loox-rating" data-id="{{ product.id }}" data-rating="{{ product.metafields.loox.avg_rating }}" data-raters="{{ product.metafields.loox.num_reviews }}">
</div>

{% elsif settings.reviews == 'growave' %}
	
    {% capture the_snippet_review_avg %}{% render 'ssw-widget-avg-rate-listing', product: product %}{% endcapture %}
    {% unless the_snippet_review_avg contains 'Liquid error' %}
    {{ the_snippet_review_avg }}
	{% endunless %} 


{% elsif settings.reviews == 'other' %}

	{% comment %} Please add your app ratings code below {% endcomment %}


{% endif %}