<div class="content-indent{% if section.settings.hide_mobile %} small--hide{% endif %} {{ section.settings.top-offeset}} wow fadeIn">
  {% if section.settings.section_cov %}<div class="section-cover" style="background-color:{{section.settings.sec_bg_clr}};">{% endif%}	
  <div class="custom-block{% if section.settings.snow_effect %} falling-snow{% endif %}{% if section.settings.snow_style == "style2" %} style2{% else %} style1{% endif %} {{section.settings.style}}{% unless section.settings.section_width %} page-width {% else %}fullwidth-{{section.id}} {% endunless %}">  

    {%- if section.settings.title != blank  or section.settings.subtitle != blank -%}
    <div class="sec-ttl {{ settings.title_align}} wow fadeIn">
      <h3 class="h3">{{ section.settings.title }}</h3>
      {%- if section.settings.subtitle != blank -%}<span>{{section.settings.subtitle}}</span>{%- endif -%}                 
    </div>
    {% endif %}

    <div class="custom-content">
      {% for block in section.blocks %}

      {%- assign custom_box = forloop.index | minus:1 -%}	 
      {%- assign delay_time = 100 | times : custom_box -%}

      {% case block.settings.width %}
      {% when '25%' %}         
      {%- assign block_width = 'small--one-half medium-up--one-quarter' -%}
      {%- assign image_size = '350x' -%}
      {% when '33%' %}        
      {%- assign block_width = 'small--one-whole medium-up--one-third' -%}
      {%- assign image_size = '530x' -%}
      {% when '50%' %}          
      {%- assign block_width = 'small--one-whole medium-up--one-half' -%}
      {%- assign image_size = '800x' -%}
      {% when '66%' %}         
      {%- assign block_width = 'small--one-whole medium-up--two-thirds' -%}
      {%- assign image_size = '850x' -%}
      {% when '75%' %}        
      {%- assign block_width = 'small--one-whole medium-up--three-quarters' -%}
      {%- assign image_size = '850x' -%}
      {% when '100%' %}          
      {%- assign block_width = 'one-whole' -%}
      {%- assign image_size = '1920x' -%}
      {% endcase %}    

      <div class="custom__item custom__item--{{block.id}} {{ block_width }} {% if block.settings.alignment %}align--{{ block.settings.alignment }}{% endif %}" {{ block.shopify_attributes }}>
        <div class="custom__item-inner custom__item-inner--{{ block.type }} wow fadeIn" data-wow-delay="{{delay_time}}ms">
          {% case block.type %}
          
		  {% when 'image' %}
          {% if block.settings.image != blank %}
          {%- assign image_alt = block.settings.image.alt -%}
          {% if block.settings.imgurl != blank %} <a href="{{block.settings.imgurl}}"> {% endif %}
          {{ block.settings.image | img_url: 'master' | img_tag: image_alt, 'custom__image' }}
          {% if block.settings.imgurl != blank %} </a> {% endif %}
          {% else %}
          {{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}
          {% endif %}
          
          {% when 'text' %}
          <div class="text-{{ block.settings.align_text }}">
            {% if block.settings.image != blank %}
            {%- assign image_alt = block.settings.image.alt -%}
            {% if block.settings.btnurl != blank %} <a href="{{block.settings.btnurl}}"> {% endif %}
            {{ block.settings.image | img_url: image_size | img_tag: image_alt, 'custom__image' }}                
            {% if block.settings.btnurl != blank %} </a> {% endif %}
            {% endif %}
            <div class="custom-text">
              {% if block.settings.title != blank %}<h3 class="{{ block.settings.font-size}}">{{ block.settings.title }}</h3>{% endif %}
              {% if block.settings.text != blank %}<div class="rte-setting">{{ block.settings.text }}</div>{% endif %}
              {% if block.settings.btntxt != blank and block.settings.btnurl != blank %}                             
              <a class="btn {{section.settings.btn-size-mob}} {{section.settings.btn-size-desk}}" href="{{block.settings.btnurl}}">{{ block.settings.btntxt }}</a>
              {% endif %}
            </div>
          </div>
          
          {% when 'video' %}
              <div class="video-sec">   
             {% if block.settings.video_url == blank and block.settings.mp4url == blank	%}
                <div class="video-wrapper">
                  <iframe src="//www.youtube.com/embed/_9VUPq3SxOc?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe>
                </div>
              {% else %}         
                {% if block.settings.video_url.type == "youtube" %}        
                <div class="video-wrapper"><iframe src="//www.youtube.com/embed/{{ block.settings.video_url.id }}?rel=0&showinfo=0&vq=720" width="850" height="480" frameborder="0" allowfullscreen></iframe></div>
                {% endif %}
                {% if block.settings.video_url.type == "vimeo" %}
                <div class="video-wrapper"><iframe src="//player.vimeo.com/video/{{ block.settings.video_url.id }}?byline=0&portrait=0&badge=0" width="850" height="480" frameborder="0" allowfullscreen></iframe></div>
                {% endif %}     

                  {% if block.settings.video_url == blank and block.settings.mp4url != blank %}
                  <video {% if block.settings.enable_cntrl %}controls {% endif %}width="100%" {% if block.settings.is_autoplay and block.settings.enable_sound == true %}autoplay {% elsif block.settings.is_autoplay and block.settings.enable_sound == false %}autoplay muted {% endif %}{% if block.settings.enable_sound == false %}muted {% endif %}loop playsinline>
                    <source src="{{block.settings.mp4url}}" codecs="avc1.4d002a, mp4a.40.2" type="video/mp4">
                    Your browser does not support the video tag.
                    </source>
                  </video>    
                {% endif %}    
              {% endif %} 
          		
              {%- if block.settings.title != blank -%}
              <div class="video-text {{ block.settings.text_align }}">
                <span class="ttl" style="color:{{block.settings.color_ttl}};">{{ block.settings.title }}</span>                     
              </div>
              {% endif %}
          
            </div>        
          
          {% when 'product' %}
          {%- assign product = all_products[block.settings.product] -%}
          {% if product.title.size > 0 %}
          	{% include 'product-card-grid', grid_image_width: image_size %}
          {% else %}         
            <div class="grid-view-item">
              <a class="grid-view-item__link" href="#">
                <div class="grid-view-item__image">
                  {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                  {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
                </div>
                <div class="h4 grid-view-item__title">{{ 'homepage.onboarding.product_title' | t }}</div>
                <div class="grid-view-item__meta">
                  {{ 1999 | money }}
                </div>
              </a>
            </div>
          {% endif %}
         
          {% when 'collection' %}
          {%- assign collection = collections[block.settings.collection] -%}
          {% include 'collection-grid-item', collection_image_size: image_size %}
          
          {% when 'html' %}
            {% if block.settings.code != blank %}
              {{ block.settings.code }}
            {% endif %}
          {% endcase %}
        </div>
      </div>

      {% endfor %}
    </div>

    {% if section.blocks.size == 0 %}
    {% include 'no-blocks' %}
    {% endif %}
  </div>
  {% if section.settings.section_cov %}</div> {% endif%}
</div>

{% schema %}
  {
    "name": "Custom Block",
    "class": "index-section",
    "settings": [	 
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Custom content",
		"info":"Use <strong>text here</strong> to make headings bold"
      },
 	  {
        "type": "textarea",
        "id": "subtitle",
        "label": "Sub Heading",
        "default": "Describe your products, collection, content etc..."
      },
	 {
		 "type": "paragraph",
		 "content":"Section==="
      },
	 {
            "type": "select",
            "id": "top-offeset",
            "label": "Top OffSet",
            "default": "default",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "small",
                "label": "Small"
              },
			  {
                "value": "none",
                "label": "None"
              }
			]
        },
		 {
		"type":"checkbox",
		"id":"section_width",
		"label":"Fullwidth?",
		"default": false
	  },
 		{
           "type": "checkbox",
           "id": "hide_mobile",
           "label": "Hide Section in Mobile?",
           "default": false
        },
	 {
        "type": "paragraph",
        "content": "Left/Right Padding : Fullwidth Section Only==="
      }, 	
      {
        "type": "range",
        "id": "pad-desk",
        "label": "Desktop",
        "default": 55,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "range",
        "id": "pad-ipad",
        "label": "Tablet",
        "default": 15,
        "min": 0,
        "max": 30,
        "step": 1
      },
      {
        "type": "range",
        "id": "pad-mbl",
        "label": "Mobile",
        "default": 10,
        "min": 0,
        "max": 20,
        "step": 1
      },	
	  {
        "type": "select",
        "id": "prbox_style",
        "label": "Products Grid Style",
        "default": "style1",
        "options": [
          {
            "value": "style1",
            "label": "Style 1 - Default Info Center"
          },
          {
            "value": "style2",
            "label": "Style 2 - Info Hover Image"
          },
          {
            "value": "style3",
            "label": "Style 3 - Info Below Image"
          },
          {
            "value": "style4",
            "label": "Style 4 - Default Info Left"
          }
        ],
		"info":"[Only for Products. chekout grid style](https://avon-demo.myshopify.com/pages/grid-style)"      
      },	 
 {
        "type": "checkbox",
        "id": "section_cov",
     	"label": "Use Background?",
        "default": false
      },
 {
        "type": "color",
        "id": "sec_bg_clr",
        "label": "Background",
		"default":"#fafafa",	
		"info":"select light color"
	  },
{
          "type": "select",
          "id": "btn-size-desk",
          "label": "Button Size: Desktop",
          "default": "btn-sm",
          "options": [
          {
          "label": "Small",
          "value": "btn-sm"
          },
          {
          "label": "Medium",
          "value": "btn-md"
          },
          {
          "label": "Large",
          "value": "btn-lg"
          }	
          ]
          }, 
          {
          "type": "select",
          "id": "btn-size-mob",
          "label": "Button Size : Mobile",
          "default": "mob-btn-sm",
          "options": [
          {
          "label": "Small",
          "value": "mob-btn-sm"
          },
          {
          "label": "Medium",
          "value": "mob-btn-md"
          },
          {
          "label": "Large",
          "value": "mob-btn-lg"
          }	
          ]
          }
    ],
    "blocks": [
      {
        "type": "text",
        "name": "Text / Image & Text",
        "settings": [
		  {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "textarea",
            "id": "title",
            "label": "Heading", 
			"default":"Title"
          },
		 {
            "type": "select",
            "id": "font-size",
            "label": "Heading Font Size",
            "default": "small",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
			  {
                "value": "medium",
                "label": "medium"
              },
			  {
                "value": "large",
                "label": "Large"
              }
			]	
		  },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text to share information about your brand with your customers. Describe a product, share announcements, or welcome customers to your store.</p>"
          },
		{
            "type": "text",
            "id": "btntxt",
            "label": "Button Text",
            "default": "Read More"
          },
		  {
            "type": "url",
            "id": "btnurl",
            "label": "URL"          
          },		 
          {
            "type": "select",
            "id": "width",
            "label": "Column width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Vertical alignment",
            "default": "center",
            "options": [
              {"value": "top-middle", "label": "Top"},
              {"value": "center", "label": "Middle"},
              {"value": "bottom-middle", "label": "Bottom"}
            ]
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Horizontal alignment",
            "default": "left",
            "options": [
              {"value": "left", "label": "Left"},
              {"value": "center", "label": "Centered"},
              {"value": "right", "label": "Right"}
            ]
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
         {	
            "type": "url",
			"id": "imgurl",
			"label": "Image Url"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Column width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Vertical alignment",
            "default": "center",
            "options": [
              {
                "value": "top-left",
                "label": "Top left"
              },
              {
                "value": "top-middle",
                "label": "Top middle"
              },
              {
                "value": "top-right",
                "label": "Top right"
              },
              {
                "value": "middle-left",
                "label": "Middle left"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "middle-right",
                "label": "Middle right"
              },
              {
                "value": "bottom-left",
                "label": "Bottom left"
              },
              {
                "value": "bottom-middle",
                "label": "Bottom middle"
              },
              {
                "value": "bottom-right",
                "label": "Bottom right"
              }
            ]
          }
        ]
      },
      {
        "type": "video",
        "name": "Video",
        "settings": [
          {
        "type": "header",
        "content": "YouTube or Vimeo link"
      },
          {
          "type": "video_url",
          "id": "video_url",
          "label": "Video link",
          "accept": ["youtube", "vimeo"]
          },     
         {
            "type": "header",
            "content": "Or MP4 Video [recommended]"
          }, 
         {
          "type": "textarea",
          "id": "mp4url",
          "label": "Mp4 video link",
          "info":"Paste video url. Upload and copy video url from Settings --> File. Video  size must not exceed 20 mb. It is shopify limit for video"      
          },
			{
            "type":"checkbox",
            "id":"enable_cntrl",
            "label":"Enable Controls",
            "default": false,
			"info":"Display video play/pause buttons"
          },
          {
            "type":"checkbox",
            "id":"is_autoplay",
            "label":"Enable Autoplay",
            "default": false,
			"info":"Autoplay will not work on Mobile with SOUND"
          },
 		 {
            "type":"checkbox",
            "id":"enable_sound",
            "label":"Enable Sound?",
            "default": false,
			"info":"If Video is Autoplay with Sound, autoplay will not work on Mobile."
          },
       {
            "type": "textarea",
            "id": "title",
            "label": "Text to be display over video",
            "default": "Title",
            "info":"Use <strong>text here</strong> to make text bold"
          },
        {
                "type": "select",
                "id": "text_align",
                "label": "Text Position",
                "default": "left",
				"info":"Text position work only in large screen",
                "options": [
                  { "label": "Left", "value": "left" },
                  { "label": "Left Bottom", "value": "leftbottom" },
                  { "label": "Top Center", "value": "topcenter" },
                  { "label": "Center", "value": "center" },
                  { "label": "Bottom Center", "value": "bottomcenter" },
                  { "label": "Right Bottom", "value": "rightbottom" },
                  { "label": "Right", "value": "right" }
                ]
              },
          {
            "type": "color",
            "id": "color_ttl",
            "label": "Text Color",
            "default": "#fff"
          },	
         {
            "type": "paragraph",      
            "content": "Set font size from --> Theme Settings --> Fonts, Colors and Styles --> Video"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Column width",
            "default": "100%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Vertical alignment",
            "default": "top-middle",
            "options": [
              {
                "value": "top-middle",
                "label": "Top"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "bottom-middle",
                "label": "Bottom"
              }
            ]
          }
        ]
      },
      {
        "type": "product",
        "name": "Product",
        "settings": [
          {
            "type": "product",
            "id": "product",
            "label": "Product"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Column width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
          {
            "type": "select",
            "id": "alignment",
            "label": "Vertical alignment",
            "default": "center",
            "options": [
              {
                "value": "top-left",
                "label": "Top left"
              },
              {
                "value": "top-middle",
                "label": "Top middle"
              },
              {
                "value": "top-right",
                "label": "Top right"
              },
              {
                "value": "middle-left",
                "label": "Middle left"
              },
              {
                "value": "center",
                "label": "Middle"
              },
              {
                "value": "middle-right",
                "label": "Middle right"
              },
              {
                "value": "bottom-left",
                "label": "Bottom left"
              },
              {
                "value": "bottom-middle",
                "label": "Bottom middle"
              },
              {
                "value": "bottom-right",
                "label": "Bottom right"
              }
            ]
          }
        ]
      },
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
         {
			"type":"image_picker",
			"id":"collection_image",
			"label":"Upload Image"			
		  },
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          },
		  {
 			"type":"textarea",
			"id":"collection_name",
			"label":"Custom Name",
			"info":"use <strong>your text here</strong> to make font bold"
		  },
          {
            "type": "select",
            "id": "width",
            "label": "Column width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
      {
        "type": "html",
        "name": "Custom HTML",
        "settings": [
          {
            "type": "html",
            "id": "code",
            "label": "HTML"
          },
          {
            "type": "select",
            "id": "width",
            "label": "Column width",
            "default": "50%",
            "options": [
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Custom Block",
        "category": "7. Advanced Layout",
        "blocks": [
          {
            "type": "text"
          },
          {
            "type": "image"
          }
        ]
      }
    ]
  }
{% endschema %}

<style>  
 @media only screen and (min-width: 1025px) {
    .fullwidth-{{section.id}} { padding-left:{{ section.settings.pad-desk}}px; padding-right:{{ section.settings.pad-desk}}px; }
  } 
  @media only screen and (max-width: 1024px) {
     .fullwidth-{{section.id}} { padding-left:{{ section.settings.pad-ipad}}px; padding-right:{{ section.settings.pad-ipad}}px; }
   } 
  @media only screen and (max-width: 767px) {
     .fullwidth-{{section.id}} { padding-left:{{ section.settings.pad-mbl}}px; padding-right:{{ section.settings.pad-mbl}}px; }
   } 
</style>