{%- capture featuredBlog -%}
<div class="content-indent {{ section.settings.top-offeset}}{% if section.settings.section_cov %} section-cover{% endif%}" {% if section.settings.section_cov %}style="background-color:{{section.settings.sec_bg_clr}};"{% endif%}>
  <div class="page-width latest-blog wow fadeIn" id="blogSlider-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="carousel">

    {%- if section.settings.title != blank  or section.settings.subtitle != blank -%}
    <div class="sec-ttl {{ settings.title_align}}">
      <h3 class="h3">{{ section.settings.title }}</h3>
      {%- if section.settings.subtitle != blank -%}<span>{{section.settings.subtitle}}</span>{%- endif -%}                 
    </div>
    {% endif %}

    {% case section.settings.grid %}
    	{% when 2 %}
    		{%- assign grid_ds = 'large-up--one-half' -%}
    		{%- assign image_size = '150,350,550,750,950' -%}
    	{% when 3 %}
    		{%- assign grid_ds = 'large-up--one-third' -%}
    		{%- assign image_size = '150,350,550,750' -%}
    	{% when 4 %}
    		{%- assign grid_ds = 'large-up--one-quarter' -%}
    		{%- assign image_size = '150,350,550,750' -%}
    	{% when 5 %}
    		{%- assign grid_ds = 'large--one-quarter widescreen--one-fifth' -%}
    		{%- assign image_size = '130,300,500' -%}
    	{% when 6 %}
    		{%- assign grid_ds = 'large--one-fifth widescreen--one-sixth' -%}
    		{%- assign image_size = '130,300,500' -%}
    {% endcase %}

    {% case section.settings.tablet-grid %}
    {% when 2 %}
    {%- assign grid_tb = 'medium--one-half' -%}
    {% when 3 %}
    {%- assign grid_tb = 'medium--one-third' -%}
    {% when 4 %}
    {%- assign grid_tb = 'medium--one-quarter' -%}
    {% endcase %}

    {% case section.settings.mobile-grid %}
    {% when 1 %}
    {%- assign grid_mb = 'small--one-whole' -%}
    {% when 2 %}
    {%- assign grid_mb = 'small--one-half' -%}
    {% when 3 %}
    {%- assign grid_mb = 'small--one-third' -%}
    {% endcase %}
    {%- assign blog = blogs[section.settings.blog] -%}

    {% unless blog.articles_count == 0 %}
    <div class="grid grid--blog carousel" data-slick='{"slidesToShow": {{section.settings.grid}},"slidesToScroll": 1, {%- if settings.rtl -%}"rtl": true,{%- endif -%} "infinite": true, "responsive":[{"breakpoint": 1024,"settings":{"slidesToShow": {{section.settings.tablet-grid}} }},{"breakpoint": 776,"settings":{"slidesToShow": {{section.settings.mobile-grid}} }} ]}'>
      {% for article in blog.articles limit: section.settings.post_limit %}
      	<div class="grid__item {{grid_mb}} {{grid_tb}} {{grid_ds}}">{% include 'blog-card-grid', sizes: image_size %}</div>
      {% endfor %}
    </div>
    {% else %}
    <div class="grid grid--blog" data-slick='{"slidesToShow": 3, "slidesToScroll": 1}'>
      {% for i in (1..section.settings.post_limit) %}
        <div class="grid__item medium-up--one-third">
          <div class="wrap-blog">
            <div class="article__grid-meta">
              <div class="wrap-blog-inner {{ section.settings.blog_align }}">
                <h4 class="article__title"><a href="#">{{ 'homepage.onboarding.blog_title' | t }}</a></h4>
                {% if section.settings.blog_show_author %}<span class="article__author">{{ 'homepage.onboarding.blog_author' | t }}</span>{% endif %}
                {% if section.settings.show_mini_des %}	<div class="rte article__grid-excerpt">{{ 'homepage.onboarding.blog_excerpt' | t }}</div> {% endif %}

                {% if section.settings.show_read_more %}
                <ul class="list--inline article__meta-buttons">
                  <li><a href="{{ article.url }}" class="btn btn--secondary">{{ 'blogs.article.read_more' | t }}</a></li>
                </ul>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endunless %}

    {% if section.settings.show_view_all %}
    <div class="text-center"><a href="{{ blog.url }}" class="btn">{{ 'blogs.article.view_all' | t }}</a></div>
    {% endif %}
  </div>
</div>
{%- endcapture -%}
{{featuredBlog | strip_newlines | remove: "  " | remove: "	" }}

{% schema %}
  {
    "name": "Blog posts",
    "class": "index-section",
    "settings": [	
      {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Blog posts",
		"info":"Use <strong>text here</strong> to make headings bold"
      },
 	  {
        "type": "textarea",
        "id": "subtitle",
        "label": "Sub Heading",
        "default": "Describe your products, collection, content etc..."
      },
	  {
        "type": "paragraph",
        "content": "Section==="
      },
	  {
            "type": "select",
            "id": "top-offeset",
            "label": "Top OffSet",
            "default": "default",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "small",
                "label": "Small"
              },
			  {
                "value": "none",
                "label": "None"
              }
			]
        }, 
		{
            "type": "checkbox",
            "id": "section_cov",
            "label": "Use Background?",
            "default": true
        },
		 {
            "type": "color",
            "id": "sec_bg_clr",
            "label": "Background",
			"default":"#fafafa"	,
			"info":"select light color background"
		 },	 
		{
        "type": "paragraph",
        "content": "Blogs ==="
      },
      {
        "id": "blog",
        "type": "blog",
        "label": "Blog"
      },
      {
        "type": "select",
        "id": "img_ratio",
        "label": "Blog Image Aspect Ratio",
        "default": "100",
        "options": [
		  { "group": "Landscape", "value": "30", "label": "0:3" },
		  { "group": "Landscape", "value": "40", "label": "0:4" },
          { "group": "Landscape", "value": "50", "label": "0:5" },
          { "group": "Landscape", "value": "60", "label": "0:6" },
          { "group": "Landscape", "value": "70", "label": "0:7" },
          { "group": "Landscape", "value": "80", "label": "0:8" },
          { "group": "Landscape", "value": "90", "label": "0:9" },
          { "group": "Squared", "value": "100", "label": "1:1" },
          { "group": "Portrait", "value": "110", "label": "1:1" },
          { "group": "Portrait", "value": "120", "label": "1:2" },
          { "group": "Portrait", "value": "130", "label": "1:3" },
          { "group": "Portrait", "value": "140", "label": "1:4" },
          { "group": "Portrait", "value": "150", "label": "1:5" }
        ]
      },
	 {
        "type": "range",
        "id": "post_limit",
        "label": "Posts Limit",
        "default": 3,
        "min": 1,
        "max": 15,
        "step": 1       
      },
      {
        "type": "paragraph",
        "content": "Post Per Row ==="
      },
 	 {
        "type": "range",
        "id": "grid",
        "label": "Desktop",
        "default": 3,
        "min": 1,
        "max": 6,
        "step": 1       
      },
	  {
        "type": "range",
        "id": "tablet-grid",
        "label": "Tablet",
        "default": 2,
        "min": 1,
        "max": 4,
        "step": 1       
      },
	  {
        "type": "range",
        "id": "mobile-grid",
        "label": "Mobile",
        "default": 1,
        "min": 1,
        "max": 3,
        "step": 1       
      } , 
	  {
        "type": "select",
        "id": "blog_align",
        "label": "Text Align",
        "default": "text-center",
        "options": [
          {
            "value": "text-left",
            "label": "Left"
          },
          {
            "value": "text-center",
            "label": "Center"
          }         
        ]
      },	
      {
        "type": "checkbox",
        "id": "blog_show_author",
        "label": "Show Author?",		
        "default": false
      },
      {
        "type": "checkbox",
        "id": "blog_show_date",
        "label": "Show Date?",
        "default": true
      },
	 {
        "type": "checkbox",
        "id": "show_comment",
        "label": "Show Comment?",
        "default": true
      },
	 {
        "type": "checkbox",
        "id": "show_mini_des",
        "label": "Show Short Content?",
        "default": true
      },
	{
        "type": "checkbox",
        "id": "show_read_more",
        "label": "Show Read More Button?",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_view_all",
        "label": "Show 'Read All' button?",
        "default": false
      },
{
          "type": "select",
          "id": "btn-size-desk",
          "label": "Button Size: Desktop",
          "default": "btn-sm",
          "options": [
          {
          "label": "Small",
          "value": "btn-sm"
          },
          {
          "label": "Medium",
          "value": "btn-md"
          },
          {
          "label": "Large",
          "value": "btn-lg"
          }	
          ]
          }, 
          {
          "type": "select",
          "id": "btn-size-mob",
          "label": "Button Size : Mobile",
          "default": "mob-btn-sm",
          "options": [
          {
          "label": "Small",
          "value": "mob-btn-sm"
          },
          {
          "label": "Medium",
          "value": "mob-btn-md"
          },
          {
          "label": "Large",
          "value": "mob-btn-lg"
          }	
          ]
          }  
    ],
    "presets": [
      {
        "name": "Blog List",
        "category": "6. Other",  
        "settings": {
          "blog": "News"         
        }
      }
    ]
  }
{% endschema %}
