{% capture siteFooter %}
<footer class="site-footer{% if section.settings.snow_effect %} falling-snow{% endif %}{% if section.settings.snow_style == "style2" %} style2{% else %} style1{% endif %}" role="contentinfo">  
   
  {% if section.blocks.size != 0 %}
  	<div class="{% unless section.settings.section_width %}page-width{% else %} footer-fw{% endunless %}">
  	<div class="footer-top footer-block">
        {% for block in section.blocks %}          
        {% case block.settings.width %}
        {% when '20%' %}         
        {%- assign block_width = 'medium-up--one-fifth' -%}
        {%- assign image_size = '350x' -%}
        {% when '25%' %}         
        {%- assign block_width = 'medium-up--one-quarter' -%}
        {%- assign image_size = '350x' -%}
        {% when '33%' %}        
        {%- assign block_width = 'medium-up--one-third' -%}
        {%- assign image_size = '530x' -%}
        {% when '40%' %}         
        {%- assign block_width = 'medium-up--two-fifths' -%}
        {%- assign image_size = '700x' -%}
        {% when '50%' %}          
        {%- assign block_width = 'medium-up--one-half' -%}
        {%- assign image_size = '800x' -%}
        {% when '60%' %}          
        {%- assign block_width = 'medium-up--three-fifths' -%}
        {%- assign image_size = '850x' -%}
        {% when '66%' %}         
        {%- assign block_width = 'medium-up--two-thirds' -%}
        {%- assign image_size = '850x' -%}
        {% when '75%' %}        Z
        {%- assign block_width = 'medium-up--three-quarters' -%}
        {%- assign image_size = '850x' -%}
        {% when '100%' %}          
        {%- assign block_width = 'one-whole' -%}
        {%- assign image_size = '1920x' -%}
        {% endcase %}       


        {% capture blockTtl %}{% if block.settings.title != blank %}<h4 class="h4">{{ block.settings.title }}</h4>{% endif %}{% endcapture %}
        {%- case block.type -%}
        {% when 'custom' %}
        <div id="nav_menu-{{ block.id }}" class="footer-block__item {{ block_width }} custom-block{% if block.settings.txt_align %} text-center{% endif %}">
          {{blockTtl}}

          {% if block.settings.logo %}
          <p class="footer-logo"><img class="autoHt lazyload" data-src="{{ block.settings.logo | img_url: 'master' }}" width="{{block.settings.logo-width}}" height="{{ block.settings.logo-width | divided_by: block.settings.logo.aspect_ratio }}" alt="{{ block.settings.logo.alt | default: shop.name }}"></p>
          {% endif %}

          <div class="text custom-text">{{ block.settings.custom-text }}</div>                 
          {% if block.settings.show_socials %}
          
          	  {% if block.settings.socials_ttl != blank %}
              <h3 class="h4">{{ block.settings.socials_ttl }}</h3>
              {% endif %} 
          
              {% include 'social-media' %}
          {% endif %}                   
        </div>

        {% when 'menu' %}
        <div id="nav_menu-{{ block.id }}" class="footer-block__item {{ block_width }} footer-links">
          {{blockTtl}}
          <ul>
            {% for link in linklists[block.settings.menulinks].links %}
            <li><a href="{{ link.url }}">{{ link.title | split: '[' | first }}</a></li>
            {% endfor %}
          </ul>
        </div>
        {% when 'contact' %}
        <div id="text-{{ block.id }}" class="footer-block__item {{ block_width }} contact-box">

          {{blockTtl}}

          {% if block.settings.logo != blank %}
          <p><img class="autoHt lazyload" data-src="{{ block.settings.logo | img_url: 'master' }}" width="{{block.settings.logo-width}}" height="{{ block.settings.logo-width | divided_by: block.settings.logo.aspect_ratio }}" alt="{{ block.settings.logo.alt | default: shop.name }}"></p>
          {% endif %}
          
          <ul class="addressFooter">
            {% if block.settings.address  != blank  %}
            <li>{% if block.settings.show_icons %} <i class="ad ad-map-marker-al " aria-hidden="true"></i> {% endif %} {{ block.settings.address }}</li>
            {% endif %}
            {% if block.settings.phone  != blank  %}
            <li class="phone">{% if block.settings.show_icons %}<i class="ad ad-phone-l" aria-hidden="true"></i> {% endif %}<a href="tel:{{block.settings.phone }}">{{ block.settings.phone }}</a></li>
            {% endif %}
            {% if block.settings.email  != blank  %}
            <li class="email">{% if block.settings.show_icons %}<i class="ad ad-envelope-l" aria-hidden="true"></i> {% endif %} <a href="mailto:{{block.settings.email}}">{{ block.settings.email }}</a></li>
            {% endif %}
          </ul>
          
          {% if block.settings.show_socials %}
            {% if block.settings.socials_ttl != blank %}<h5 class="h4">{{ block.settings.socials_ttl }}</h5>{% endif %}
            {% include 'social-media' %}
          {% endif %} 
        </div>         			

        {% when 'newsletter' %}
        <div id="text-{{ block.id }}" class="footer-block__item {{ block_width }} newsletter{% if block.settings.newltr_align %} text-center{% endif %}">
          <div class="wrap-newsletter">
            {{blockTtl}}

            {% if block.settings.sub_title %}<p>{{ block.settings.sub_title }}</p>{% endif %}
            {% include 'newsletter-form' %}
            {% if block.settings.show_socials %}
            <div class="socials">
              {%- if block.settings.socials_ttl != blank -%}<h3 class="h4">{{ block.settings.socials_ttl }}</h3>{%- endif -%}
              {% include 'social-media' %}
            </div>
            {% endif %}
          </div>                  
        </div>       

        {% when 'instagram' %}
        	{% case block.settings.grid %}
              {% when 2 %}{%- assign grid_ds = 'one-half' -%}
              {% when 3 %}{%- assign grid_ds = 'one-third' -%}
              {% when 4 %}{%- assign grid_ds = 'one-quarter' -%}
              {% when 5 %}{%- assign grid_ds = 'one-fifth' -%}
              {% when 6 %}{%- assign grid_ds = 'one-sixth' -%}
              {% when 7 %}{%- assign grid_ds = 'one-seventh' -%}
              {% when 8 %}{%- assign grid_ds = 'one-eighth' -%}
              {% when 9 %}{%- assign grid_ds = 'one-nineth' -%}
              {% when 10 %}{%- assign grid_ds = 'one-tenth' -%}
            {% endcase %}
            {% case block.settings.tablet-grid %}
              {% when 1 %}{%- assign grid_tb = 'medium--one-whole' -%}
              {% when 2 %}{%- assign grid_tb = 'medium--one-half' -%}
              {% when 3 %}{%- assign grid_tb = 'medium--one-third' -%}
              {% when 4 %}{%- assign grid_tb = 'medium--one-quarter' -%}
              {% when 5 %}{%- assign grid_tb = 'medium--one-fifth' -%}
              {% when 6 %}{%- assign grid_tb = 'medium--one-sixth' -%}
              {% when 7 %}{%- assign grid_tb = 'medium--one-seventh' -%}
            {% endcase %}
            {% case block.settings.mobile-grid %}
              {% when 1 %}{%- assign grid_mb = 'small--one-whole' -%}
              {% when 2 %}{%- assign grid_mb = 'small--one-half' -%}
              {% when 3 %}{%- assign grid_mb = 'small--one-third' -%}
              {% when 4 %}{%- assign grid_mb = 'small--one-quarter' -%}
              {% when 5 %}{%- assign grid_mb = 'small--one-fifth' -%}
            {% endcase %}
        	
        {% if block.settings.appinsta %}
        <div id="text-{{ block.id }}" class="footer-block__item {{ block_width }}">
        	<div id="insta-feed"></div>
        </div>
        {% else %}
        <div id="text-{{ block.id }}" class="footer-block__item {{ block_width }} home-instagram instagram">   
          <div data-section-id="{{ section.id }}" data-section-type="instagram" data-image="{{ block.settings.images_size }}"
               data-count="{{ block.settings.limit }}" data-act="{{ block.settings.act }}" data-ds="{{grid_ds}}" data-tb="{{grid_tb}}" data-mb="{{grid_mb}}">
            {{blockTtl}}
            {% if block.settings.sub_title %}
            <p>{{ block.settings.sub_title }}</p>
            {% endif %}   
            <div id="instafeed{{section.id}}" class="instafeed im{{ block.settings.images_size }}"></div>   
          </div>
        </div>
  		{% endif %}
        
        {% when 'socialicons' %}
        <div id="text-{{ block.id }}" class="footer-block__item {{ block_width }} socialicons">
          {{blockTtl}}
          {% include 'social-media', hideLbl: true %}
        </div>
        {%- endcase -%}                
        {% endfor %}
      </div>        
  </div>
  {% endif %}
  
  {% if section.settings.copyright_text != blank or section.settings.show_payment %}
  <div class="footer-bottom">
    <div class="flex{% unless section.settings.section_width %} page-width {% else %} footer-fw{% endunless %}">
        {% if section.settings.copyright_text != blank %}
        <div class="{% if section.settings.show_payment %}text-left small--text-center{% else %}text-center{% endif %}">
          {{ section.settings.copyright_text }}
          {% if section.settings.show_designby %}<span class="designBy">{% if section.settings.copyright_text != blank %}<br />{% endif %}Designed by <a href="https://www.adornthemes.com" target="_blank">AdornThemes</a></span>{% endif %}
        </div>
        {% endif %}
      	{% if section.settings.show_payment %}
          <div class="paymentCall{% if section.settings.copyright_text != blank %} text-right small--text-center{% endif %}">
            {%- if section.settings.payment_img != blank -%}
           	 <p class="footer-img"><img class="autoHt lazyload" data-src="{{ section.settings.payment_img | img_url: 'master' }}" alt="{{ section.settings.payment_img.alt }}" width="{{section.settings.payment_img_width}}" height="{{ section.settings.payment_img | divided_by: section.settings.payment_img.aspect_ratio }}" /></p>
            {%- else -%}
            	{% for type in shop.enabled_payment_types %}{{ type | payment_type_svg_tag: class: 'payment-list__item' }}{% endfor %}
            {%- endif -%}
          </div>
        {% endif %}
    </div>
  </div>
  {% endif %}
</footer>
{% endcapture %}
{{ siteFooter | strip_newlines | remove: "  " | remove: "	" }}

{% schema %}
  {
    "name": "Footer",
    "settings": [
		{
		"type":"checkbox",
		"id":"section_width",
		"label":"Fullwidth?",
		"default": false
	  },
		{
		"type":"checkbox",
		"id":"snow_effect",
		"label":"Enable Snow Effect?",
		"default": false,
		"info":"For Christmas"
	   },
        {
          "type": "select",
          "id": "snow_style",
          "label": "Snow Style",
          "default": "style1",         
          "options": [
            {
            "value": "style1",
            "label": "Falling Down"
            },
            {
            "value": "style2",
            "label": "Falling From Left"
            }
            ]
          },
 	  	{
        	"type": "textarea",
        	"id": "copyright_text",
        	"label": "Copyright Text",
        	"default": "© 2019,Avon. All Rights Reserved. Ecommerce Software by Shopify."
      	},
        {
          "type": "checkbox",
          "id": "show_designby",
          "label": "Show Designed by",
          "default": true
        },
		{
			"type":"header",
        	"content":"Payment Options"
		},
      	{
        	"type": "checkbox",
        	"id": "show_payment",
        	"label": "Show Paymnet Icons",
        	"default": true
        },
		{
          "type": "image_picker",
          "id": "payment_img",
          "label": "Payment Icon Image",
          "info": "Use image instead of Payment icons"
        },
 	  	{
        	"type": "text",
        	"id": "payment_img_width",
        	"label": "Max width",
        	"default": "350"
      	}
    ],
	"max_blocks": 10,
	"blocks": [
	  {
        "type": "menu",
        "name": "Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Navigation Title",
			"default": "Informations"
          },
          {
            "type": "link_list",
            "id": "menulinks",
            "label": "Select Navigation",
            "default": "main-menu"
          },
		  {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
			"info":"Total width of all block must not more than 100%",
            "options": [
			  {
                "value": "20%",
                "label": "20%"
              },
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
			  {
                "value": "40%",
                "label": "40%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
			   {
                "value": "60%",
                "label": "60%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
	  {
        "type": "contact",
        "name": "Contact Details",
		"limit": 2,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
			"default": "Contact Us"
          },
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo image"
          },
		  {
            "type": "textarea",
            "id": "address",
            "label": "Address",
			"default": "55 Gallaxy Enque,<br />2568 steet, 23568 NY"
          },
		  {
            "type": "textarea",
            "id": "phone",
            "label": "Phone",
			"default": "(440) 000 000 0000"
          },
		  {
            "type": "textarea",
            "id": "email",
            "label": "Email",
			"default": "sales@yousite.com"
          },
 		  {
			"type":"checkbox",
			"id":"show_icons",
			"label":"Show Icons",
			"default":false
		  },
      	  {
			"type":"checkbox",
			"id":"show_socials",
			"label":"Show Socials",
			"default":true
		  },
      	  {
			"type":"text",
			"id":"socials_ttl",
			"label":"Socials Title",
			"default":"Stay Connected"
		  },
		  {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "info":"Total width of all block must not more than 100%",
            "options": [
			 {
                "value": "20%",
                "label": "20%"
              },
			   {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
             {
                "value": "40%",
                "label": "40%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
			   {
                "value": "60%",
                "label": "60%"
              },             
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
	  {
        "type": "custom",
        "name": "Custom Block",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
			"default": "About Us"
          },
          {
            "type": "image_picker",
            "id": "logo",
            "label": "Upload image"
          },
		  {
            "type": "range",
            "id": "logo-width",
            "label": "Image max width",
            "default": 150,
            "min": 100,
            "max": 300,
            "step": 5,
            "unit": "px"
          },
		  {
            "type": "textarea",
            "id": "custom-text",
            "label": "Text",
			"default": "Making a profitable ecommerce store is hard work. You can't just open a website and expect people to flood in. If you really want to succeed you have to create traffic"
          },
		 {
			"type":"checkbox",
			"id":"show_socials",
			"label":"Show Socials",
			"default":true
		  },
      	  {
			"type":"text",
			"id":"socials_ttl",
			"label":"Socials Title",
			"default":"Stay Connected"
		  },
		  {
			"type":"checkbox",
			"id":"txt_align",
			"label":"Align Center",
			"default":false
		  },
 	      {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "info":"Total width of all block must not more than 100%",
            "options": [
			 {
                "value": "20%",
                "label": "20%"
              },
				{
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
             {
                "value": "40%",
                "label": "40%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
			   {
                "value": "60%",
                "label": "60%"
              },
              {
                "value": "66%",
                "label": "66%"
              },             
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
      {
        "type": "newsletter",
        "name": "Newsletter Signup",
        "limit": 1,
        "settings": [
		  {
			"type":"checkbox",
			"id":"newltr_align",
			"label":"Align Center",
			"default":false
		  },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Newsletter"
          },
		  {
            "type": "text",
            "id": "sub_title",
            "label": "text",
			"default": "Enter your email to receive daily news and get 20% off coupon for all items. NO spam, we promise"
          },
		 {
			"type":"checkbox",
			"id":"show_socials",
			"label":"Show Socials",
			"default":true
		  },
      	  {
			"type":"text",
			"id":"socials_ttl",
			"label":"Socials Title",
			"default":"Stay Connected"
		  },
		   {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "info":"Total width of all block must not more than 100%",
            "options": [
			 {
                "value": "20%",
                "label": "20%"
              },
			  {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
             {
                "value": "40%",
                "label": "40%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
			   {
                "value": "60%",
                "label": "60%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
  	 {
        "type": "instagram",
        "name": "Instagram",
        "limit": 1,
        "settings": [
		  {
			"type":"paragraph",
			"content":"Note: Instagram will not work at 2 place at the same time. Either you can display in section or footer"
		  },
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Avone On Instagram"
          },
		  {
            "type": "text",
            "id": "sub_title",
            "label": "text",
			"default": "Phasellus lorem malesuada ligula pulvinar commodo maecenas suscipit auctom."
          },
          {
            "type": "text",
            "id": "act",
            "label": "User's photos via Instagram API",
            "info": "Add Instagram Access Token Key here. [How to get Instagram Access Token?](https://insta-app.etssoft.net/docs/how-to-get-instagram-access-token)"
          },
          {
            "type": "range",
            "id": "limit",
            "label": "Number of photos",
            "default": 8,
            "min": 1,
            "max": 12,
            "step": 1
          },      
          {
             "type": "paragraph",
             "content": "Photos Per Row"
          },
          {
            "type": "range",
            "id": "grid",
            "label": "Desktop",
            "default": 6,
            "min": 1,
            "max": 10,
            "step": 1
          },
          {
            "type": "range",
            "id": "tablet-grid",
            "label": "Tablet",
            "default": 5,
            "min": 1,
            "max": 7,
            "step": 1
          },
          {
            "type": "range",
            "id": "mobile-grid",
            "label": "Mobile",
            "default": 3,
            "min": 1,
            "max": 5,
            "step": 1
          },		
		  {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "info":"Total width of all block must not more than 100%",
            "options": [
			 {
                "value": "20%",
                "label": "20%"
              },
			 {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
            {
                "value": "40%",
                "label": "40%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
			   {
                "value": "60%",
                "label": "60%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      },
	  {
        "type": "socialicons",
        "name": "Social Icons",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "Stay Connected"
          },		  
		   {
            "type": "select",
            "id": "width",
            "label": "Container width",
            "default": "50%",
            "info":"Total width of all block must not more than 100%",
            "options": [
			 {
                "value": "20%",
                "label": "20%"
              },
			  {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "40%",
                "label": "40%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
			   {
                "value": "60%",
                "label": "60%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          }
        ]
      }
	]
  }
{% endschema %}