{%- capture lookbookSec -%}
<div class="content-indent {{ section.settings.top-offeset}}" id="{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="masonary">    
  <div class="{% if section.settings.fullwidth %}lbhome fullwidth-{{section.id}}{% else %}page-width{%endif%}">     
   
    {%- if section.settings.title != blank  or section.settings.subtitle != blank -%}
    <div class="sec-ttl {{ settings.title_align}} wow fadeIn">
      <h3 class="h3">{{ section.settings.title }}</h3>
      {%- if section.settings.subtitle != blank -%}<span>{{section.settings.subtitle}}</span>{%- endif -%}
    </div>
    {%- endif -%}

     <div class="flex lookbook grid-masonary shop grid-mr-{{ section.settings.grid-spacing}}">
        <div class="grid-sizer-{{section.id}} col-{{section.settings.grid-spacing-col}}"></div>
        {% for block in section.blocks limit: section.blocks.size %}

        {% assign product_box = forloop.index | minus:1 %}
        {% assign delay_time = 50 | times : product_box %}    	

        {% case block.settings.width %}
        {% when '20%' %}
        {%- assign block_width = 'small--one-whole medium-up--one-fifth' -%}
        {% when '25%' %}
        {%- assign block_width = 'small--one-whole medium-up--one-quarter' -%}
        {% when '33%' %}
        {%- assign block_width = 'small--one-whole medium-up--one-third' -%}
        {% when '40%' %}
        {%- assign block_width = 'small--one-whole medium-up--two-fifths' -%}
        {% when '50%' %}
        {%- assign block_width = 'small--one-whole medium-up--one-half' -%}
        {% when '60%' %}
        {%- assign block_width = 'small--one-whole medium-up--tree-fifths' -%}
        {% when '66%' %}
        {%- assign block_width = 'small--one-whole medium-up--two-thirds' -%}
        {% when '75%' %}
        {%- assign block_width = 'small--one-whole medium-up--three-quarters' -%}
        {% when '80%' %}        
        {%- assign block_width = 'small--one-whole medium-up--four-fifths' -%}
        {% when '100%' %}          
        {%- assign block_width = 'one-whole' -%}
        {% endcase %}       

        {% if block.settings.image!= blank %}          
        <div class="ms-item grid-lookbook pd-mb-{{section.settings.grid-spacing-mbl}} pd-{{ section.settings.grid-spacing}} {{ block_width }} wow fadeInUp" data-wow-delay="{{delay_time}}ms">
          <div class="collection-grid-item shop">
            {%- assign img_url = block.settings.image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
            <img class="imgFl lazyload" src="{{ block.settings.image | img_url: '50x' }}" width="{{ block.settings.image.width }}" height="{{ block.settings.image.height }}" data-src="{{ img_url }}"
           		data-widths="[300, 500, 750, 1000, 1350, 1600, 2000]" data-aspectratio="{{ block.settings.image.aspect_ratio }}" data-sizes="auto" alt="{{ block.settings.image.alt | escape }}" />
            
            {% comment %} *** Lookbook Shop *** {% endcomment %}
            {% if block.settings.product1 != blank %}
            <div class="products" style="top:{{ block.settings.p1_top}}%;left:{{ block.settings.p1_left}}%;">
              <span class="btn-shop"><i class="ad ad-plus"></i></span>                                		
              {% include 'product-card-grid-lookbook', product: all_products[block.settings.product1], postion: block.settings.dis-pstn1 %}
            </div>
            {% endif %}

            {% if block.settings.product2 != blank %}
            <div class="products" style="top:{{ block.settings.p2_top}}%;left:{{ block.settings.p2_left}}%;">
              <span class="btn-shop"><i class="ad ad-plus"></i></span>
              {% include 'product-card-grid-lookbook',product: all_products[block.settings.product2], postion: block.settings.dis-pstn2 %}
            </div>
            {% endif %}

            {% if block.settings.product3 != blank %}
            <div class="products" style="top:{{ block.settings.p3_top}}%;left:{{ block.settings.p3_left}}%;">
              <span class="btn-shop"><i class="ad ad-plus"></i></span>
              {% include 'product-card-grid-lookbook',product: all_products[block.settings.product3], postion: block.settings.dis-pstn3 %}
            </div>
            {% endif %}

            {% if block.settings.product4 != blank %}
            <div class="products"	style="top:{{ block.settings.p4_top}}%;left:{{ block.settings.p4_left}}%;">
              <span class="btn-shop"><i class="ad ad-plus"></i></span>
              {% include 'product-card-grid-lookbook',product: all_products[block.settings.product4], postion: block.settings.dis-pstn4 %}
            </div>
            {% endif %}
          </div>
        </div>
        {% endif %}
        {% endfor %}
      </div>
  </div>
</div>
{% if section.settings.fullwidth %}
<style>
  @media only screen and (min-width: 1025px) {
    .fullwidth-{{section.id}} { padding-left:{{ section.settings.pad-desk}}px; padding-right:{{ section.settings.pad-desk}}px; }
  } 
  @media only screen and (max-width: 1024px) {
    .fullwidth-{{section.id}} { padding-left:{{ section.settings.pad-ipad}}px; padding-right:{{ section.settings.pad-ipad}}px; }
  } 
  @media only screen and (max-width: 767px) {
    .fullwidth-{{section.id}} { padding-left:{{ section.settings.pad-mbl}}px; padding-right:{{ section.settings.pad-mbl}}px; }
  } 
</style>
{% endif %}
{%- endcapture -%}
{{lookbookSec | strip_newlines | remove: "  " | remove: "	" }}
{% schema %}
  {
    "name": "Lookbook",
	"class":"index-section",
	"max_blocks":50,
    "settings": [			
	   {
        "type": "textarea",
        "id": "title",
        "label": "Heading",
        "default": "Lookbook Shop",
		"info": "Use <strong>text here</strong> to make headings bold"
      },
 	  {
        "type": "textarea",
        "id": "subtitle",
        "label": "Sub Heading",
        "default": "Describe your products, collection etc..."
      },
 	 {
        "type": "header",
        "content": "Appearance"
      },
     {
		 "type": "paragraph",
		 "content":"[Lots of grid style possible with this section](https://www.adornthemes.com/different-collection-banner-style/)"
     },	 
	  {
        "type": "paragraph",      
        "content": "Section==="
      }, 	  
	  {
            "type": "select",
            "id": "top-offeset",
            "label": "Top OffSet",
            "default": "default",
            "options": [
              {
                "value": "default",
                "label": "Default"
              },
              {
                "value": "small",
                "label": "Small"
              },
			  {
                "value": "none",
                "label": "None"
              }
			]
        },
		{
         "type": "checkbox",
		 "id": "fullwidth",
		 "label": "Fullwidth?",
		 "default": true
        },
		{
        "type": "paragraph",
        "content": "Left/Right Padding : Fullwidth Section Only==="
      }, 	
      {
        "type": "range",
        "id": "pad-desk",
        "label": "Desktop",
        "default": 55,
        "min": 0,
        "max": 100,
        "step": 1
      },
      {
        "type": "range",
        "id": "pad-ipad",
        "label": "Tablet",
        "default": 15,
        "min": 0,
        "max": 30,
        "step": 1
      },
      {
        "type": "range",
        "id": "pad-mbl",
        "label": "Mobile",
        "default": 10,
        "min": 0,
        "max": 20,
        "step": 1
      },	  
	 {
        "type": "paragraph",
        "content": "Grid==="
      },
	  {
        "type": "range",
        "id": "grid-spacing",
        "label": "Spacing : Desktop",
        "default": 15,
        "min": 0,
        "max": 30,
        "step": 1,
		"unit":"px",
		"info":"space between two grid/box."
      },
     {
        "type": "range",
        "id": "grid-spacing-mbl",
        "label": "Spacing : Mobile",
        "default": 5,
        "min": 0,
        "max": 30,
        "step": 1,
		"unit":"px"		
      },
	{
        "type": "range",
        "id": "grid-spacing-col",
        "label": "Select Column",
        "default": 2,
        "min": 2,
        "max": 5,
        "step": 1,
		"info":"[Column Selection guide](https://www.adornthemes.com/masonry-column-selection/)"
      }	
	 ],
	"blocks":[
		{
			"name":"Lookbook",
			"type":"lookbook1",
		 	"settings":[
			{
			"type":"image_picker",
			"id":"image",
		     "label":"Add Image"			 
		    },								     
		 	 {
            "type": "select",
            "id": "width",
            "label": "Column width",
            "default": "50%",
			"info":"Total width of all block must not be more than 100%",
            "options": [
			 {
                "value": "20%",
                "label": "20%"
              },
              {
                "value": "25%",
                "label": "25%"
              },
              {
                "value": "33%",
                "label": "33%"
              },
              {
                "value": "50%",
                "label": "50%"
              },
              {
                "value": "66%",
                "label": "66%"
              },
              {
                "value": "75%",
                "label": "75%"
              },
              {
                "value": "100%",
                "label": "100%"
              }
            ]
          },
		  {
            "type":"header",
            "content":"Add Products"		
           },
		  {
            "type": "product",
            "id": "product1",
            "label": "Select Product 1"
          },
           {
            "type": "range",
            "id": "p1_top",
            "label": "Top Position",
            "default": 1,
            "min": 1,
            "max": 90,
            "step": 1,
            "unit": "%"
          },
		  {
            "type": "range",
            "id": "p1_left",
            "label": "Left Position",
            "default": 1,
            "min": 1,
            "max": 90,
            "step": 1,
            "unit": "%"
          },
		 {
            "type": "select",
            "id": "dis-pstn1",
            "label": "Display From",
            "default": "left",
			"info":"display product box either from left or right",
            "options": [
			 {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
			]
		},
		 {
            "type": "product",
            "id": "product2",
            "label": "Select Product 2"
          },
		 {		
            "type": "range",
            "id": "p2_top",
            "label": "Top Position",
            "default": 1,
            "min": 1,
            "max": 90,
            "step": 1,
            "unit": "%"
          },
		  {
            "type": "range",
            "id": "p2_left",
            "label": "Left Position",
            "default": 1,
            "min": 1,
            "max": 90,
            "step": 1,
            "unit": "%"
          },
		{
            "type": "select",
            "id": "dis-pstn2",
            "label": "Display From",
            "default": "left",
			"info":"display product box either from left or right",
            "options": [
			 {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
			]
		},
		{
            "type": "product",
            "id": "product3",
            "label": "Select Product 3"
          },
		 {		
            "type": "range",
            "id": "p3_top",
            "label": "Top Position",
            "default": 1,
            "min": 1,
            "max": 90,
            "step": 1,
            "unit": "%"
          },
		  {
            "type": "range",
            "id": "p3_left",
            "label": "Left Position",
            "default": 1,
            "min": 1,
            "max": 90,
            "step": 1,
            "unit": "%"
          },
		{
            "type": "select",
            "id": "dis-pstn3",
            "label": "Display From",
            "default": "left",
			"info":"display product box either from left or right",
            "options": [
			 {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
			]
		},
		{
            "type": "product",
            "id": "product4",
            "label": "Select Product 4"
          },
		 {		
            "type": "range",
            "id": "p4_top",
            "label": "Top Position",
            "default": 1,
            "min": 1,
            "max": 90,
            "step": 1,
            "unit": "%"
          },
		  {
            "type": "range",
            "id": "p4_left",
            "label": "Left Position",
            "default": 1,
            "min": 1,
            "max": 90,
            "step": 1,
            "unit": "%"
          },
		  {
            "type": "select",
            "id": "dis-pstn4",
            "label": "Display From",
            "default": "left",
			"info":"display product box either from left or right",
            "options": [
			 {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "right",
                "label": "Right"
              }
			]
		}
		 ]
	   }       
     ],
	"presets": [
      {
        "name": "Lookbook Shop",
        "category": "3. Banners"
      }
    ]
  }
{% endschema %}