{%- if section.blocks.size > 0 -%}
<ul id="siteNav" class="siteNavigation text-{{ section.settings.menuAlign}}{% if settings.nav_below_logo %}{% unless settings.main_header_fullwidth %} page-width{% endunless %}{% endif %}" role="navigation" data-section-id="site-{{ section.id }}" data-section-type="site-navigation">
    {% for block in section.blocks %}
    {%- assign label = block.settings.title | split: '[label' | last  | split: ']' | first | prepend: "nm_label" -%}
    {%- capture linkLevel1 -%}<a href="{% if block.settings.url != blank %}{{ block.settings.url }}{% else %}#{% endif %}" {% if block.settings.newtab %} target="_blank"{% endif %}>{{ block.settings.title | split: '[label' | first }}{% if section.settings.menuarrow %} <i class="ad ad-angle-down-l"></i>{% endif %}{% if block.settings.title contains '[label' %}<span class="lbl {{label}}">{{ section.settings[label] }}</span>{% endif %}</a>{%- endcapture -%}
    {%- case block.type -%}
    {%- when 'homelink' -%}
    <li class="lvl1"><a href="{{routes.root_url}}">{{ block.settings.title}}</a></li>

    {%- when 'loginlink' -%}
    {% if customer %}
    <li class="lvl1"><a href="{{ routes.account_url }}">{{ 'customer.account.title' | t }}</a></li>
    <li class="lvl1"><a href="{{ routes.account_logout_url }}">{{ 'customer.account.logout' | t }}</a></li>    
    {% else %}
    <li class="lvl1"><a href="{{ routes.account_login_url }}">{{ 'customer.login.form_title' | t }}</a></li> 
    {% endif %}	  

    {%- when 'single_link' -%}
    <li class="lvl1" {{ block.shopify_attributes }}>{{linkLevel1 | replace: '<i class="ad ad-angle-down-l"></i>','' }}</li>

    {%- when 'megamenu1' -%}
    {%- if block.settings.title != blank -%}
    <li class="lvl1 parent megamenu{% if block.settings.custom_size %} ctsize{% endif %}" {{ block.shopify_attributes }}>{{linkLevel1}}
      <div class="megamenu style1{% if block.settings.imgcall == "right" %} flex{% endif %}{% if block.settings.custom_size %} {{block.settings.mm_align}}{% else %} mmfull{% endif %}"{% if block.settings.custom_size %}style="width:{{block.settings.mm_size}}px;"{% endif %}>
          {%- capture imgColumns -%}
            {%- capture my_variable -%}{{block.settings.megamenu1_image}} {{block.settings.megamenu2_image}} {{block.settings.megamenu3_image}} {{block.settings.megamenu4_image}}{%- endcapture -%}
            {%- assign products_array = my_variable | split: ' ' -%}
            {%- case block.settings.mmimgcolumns -%}
              {% when 1 %}{%- assign imgcolumns = 'one-whole' -%}
              {% when 2 %}{%- assign imgcolumns = 'one-half' -%}
              {% when 3 %}{%- assign imgcolumns = 'one-third' -%}
              {% when 4 %}{%- assign imgcolumns = 'one-quarter' -%}
            {%- endcase -%}
            {%- if products_array.size > 0 -%}
                {%- if block.settings.megamenu1_image != blank -%}
                	<li class="grid__item {{ imgcolumns }} imageCol text-center">
                      <a href="{{ block.settings.imageurl }}">
                        <img class="autoHt lazyload" src="{{'spacer.png' | asset_img_url: 'master' }}" data-src="{{ block.settings.megamenu1_image | img_url: 'master' }}" width="{{ block.settings.megamenu1_image.width }}" height="{{ block.settings.megamenu1_image.height }}" alt="{{block.settings.megamenu1_image.alt}}">
                        {% if block.settings.imageTtl1 != blank %}<span class="ttl">{{block.settings.imageTtl1}}</span>{% endif %}
                      </a>
                	</li>
                {%- endif -%}
                {%- if block.settings.megamenu2_image != blank -%}
                	<li class="grid__item {{ imgcolumns }} imageCol text-center">
                      <a href="{{ block.settings.Image2url }}">
                        <img class="autoHt lazyload" src="{{'spacer.png' | asset_img_url: 'master' }}" data-src="{{ block.settings.megamenu2_image | img_url: 'master' }}" width="{{ block.settings.megamenu2_image.width }}" height="{{ block.settings.megamenu2_image.height }}" alt="{{block.settings.megamenu2_image.alt}}">
                      	{% if block.settings.imageTtl2 != blank %}<span class="ttl">{{block.settings.imageTtl2}}</span>{% endif %}
                      </a>
                	</li>
                {%- endif -%}
                {%- if block.settings.megamenu3_image != blank -%}
                	<li class="grid__item {{ imgcolumns }} imageCol text-center">
                      <a href="{{ block.settings.Image3url }}">
                        <img class="autoHt lazyload" src="{{'spacer.png' | asset_img_url: 'master' }}" data-src="{{ block.settings.megamenu3_image | img_url: 'master' }}" width="{{ block.settings.megamenu3_image.width }}" height="{{ block.settings.megamenu3_image.height }}" alt="{{block.settings.megamenu3_image.alt}}">
                      	{% if block.settings.imageTtl3 != blank %}<span class="ttl">{{block.settings.imageTtl3}}</span>{% endif %}
                      </a>
                	</li>
                {%- endif -%}
                {%- if block.settings.megamenu4_image != blank -%}
                	<li class="grid__item {{ imgcolumns }} imageCol text-center">
                      <a href="{{ block.settings.Image4url }}">
                        <img class="autoHt lazyload" src="{{'spacer.png' | asset_img_url: 'master' }}" data-src="{{ block.settings.megamenu4_image | img_url: 'master' }}" width="{{ block.settings.megamenu4_image.width }}" height="{{ block.settings.megamenu4_image.height }}" alt="{{block.settings.megamenu4_image.alt}}">
                        {% if block.settings.imageTtl4 != blank %}<span class="ttl">{{block.settings.imageTtl4}}</span>{% endif %}
                      </a>
                	</li>
                {%- endif -%}
          	{%- endif -%}
          {%- endcapture -%}
          {% if block.settings.megamenu1_image != blank or block.settings.megamenu2_image != blank or block.settings.megamenu3_image != blank or block.settings.megamenu4_image != blank %}
       		<ul class="grid{% if block.settings.imgcall == "right" %} flex-item{%- endif -%}">{% for link in linklists[block.settings.mm_linklist].links %}{% include 'mm-links' %}{% endfor %}</ul>
           	<ul class="grid" {% if block.settings.imgcall == "right" %}style="width:{{block.settings.columnWidth}}%;margin-left:15px;"{%- endif -%}>{{imgColumns}}</ul>
          {%- else -%}
        	<ul class="grid flex-item mmWrapper">{% for link in linklists[block.settings.mm_linklist].links %}{% include 'mm-links' %}{% endfor %}</ul>
          {%- endif -%}
      </div>
    </li>
    {%- endif -%}

    {%- when 'megamenu2' -%}
    {%- if block.settings.title != blank -%}
    <li class="lvl1 parent megamenu{% if block.settings.custom_size %} ctsize{% endif %}" {{ block.shopify_attributes }}>{{linkLevel1}}
      <div class="megamenu grid--table style2{% if block.settings.custom_size %} {{block.settings.mm_align}}{% else %} mmfull{% endif %}"{% if block.settings.custom_size %}style="width:{{block.settings.mm_size}}px;"{% endif %}>
        <div class="grid__item prColumn">
          <ul class="grid grid--uniform">
            {%- case block.settings.mmcolumns -%}
            {% when 1 %}{%- assign column = 'large-up--one-whole' -%}
            {% when 2 %}{%- assign column = 'large-up--one-half' -%}
            {% when 3 %}{%- assign column = 'large-up--one-third' -%}
            {% when 4 %}{%- assign column = 'large-up--one-quarter' -%}
            {% when 5 %}{%- assign column = 'large-up--one-fifth' -%}
            {% when 6 %}{%- assign column = 'large-up--one-sixth' -%}
            {%- endcase -%}
            {%- assign collection = collections[block.settings.collection] -%}
            {% for product in collection.products limit: block.settings.pr_limit %}
            <li class="grid__item {{column}} productCol">{% include 'mm-product' %}</li>
            {% endfor %}
          </ul>
          {%- if block.settings.prodall != blank -%}<a href="{{collection.url}}" class="btn">{{block.settings.prodall}}</a>{%- endif -%}
        </div>
        {%- if block.settings.ftcl -%}
        <div class="grid__item mmftcolumn text-center" style="background-color:{{block.settings.ftcl_bg}};width:{{block.settings.ftcl_width}}%;">
          {%- if block.settings.ft_link != blank -%}<a href="{{block.settings.ft_link}}">{%- endif -%}
          {%- if block.settings.ftcl_image != blank -%}
          {%- assign mm2img_url = block.settings.ftcl_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          <p><img class="imgFl lazyload" src="{{ block.settings.ftcl_image | img_url: '50x' }}" width="{{ block.settings.ftcl_image.width }}" height="{{ block.settings.ftcl_image.height }}"
                  data-src="{{ mm2img_url }}" data-widths="[180, 360, 540, 720, 900]" data-aspectratio="{{ block.settings.ftcl_image.aspect_ratio }}" data-sizes="auto" alt="{{ block.settings.ftcl_image.alt | escape }}"></p>
          {%- endif -%}
          {%- if block.settings.ftcl_title != blank -%}<h4 style="color:{{block.settings.ftcl_txt}};font-size:{{block.settings.ftcl_title_size}}px;">{{block.settings.ftcl_title}}</h4>{%- endif -%}
          {%- if block.settings.ftcl_title != blank -%}<p style="color:{{block.settings.ftcl_txt}};font-size:{{block.settings.ftcl_subtitle_size}}px;">{{block.settings.ftcl_subtitle}}</p>{%- endif -%}
          {%- if block.settings.ftcl_title != blank -%}<span class="btn" style="color:{{block.settings.ftcl_txt}};background-color:{{block.settings.ftcl_bg}}; border:2px solid {{block.settings.ftcl_txt}};">{{block.settings.ftcl_btn}}</span>{%- endif -%}
          {%- if block.settings.ft_link != blank -%}</a>{%- endif -%}
        </div>
      </div>
      {%- endif %}
    </li>
    {%- endif -%}

    {%- when 'megamenu3' -%}
    {%- if block.settings.title != blank -%}
    <li class="lvl1 parent megamenu{% if block.settings.custom_size %} ctsize{% endif %}" {{ block.shopify_attributes }}>{{linkLevel1}}
      <div class="megamenu style3{% if block.settings.custom_size %} {{block.settings.mm_align}}{% else %} mmfull{% endif %}"{% if block.settings.custom_size %}style="width:{{block.settings.mm_size}}px;"{% endif %}>
        <ul class="grid mmWrapper">
          {%- capture menucolumns -%}{{block.settings.ttl1 | remove: " "}} {{block.settings.ttl2 | remove: " "}} {{block.settings.ttl3 | remove: " "}} {{block.settings.ttl4 | remove: " "}} {{block.settings.ttl5 | remove: " "}}{%- endcapture -%}
          {%- assign columnitems = menucolumns | split: ' ' -%}
          {%- assign mmcolumns = 'large-up--one-fifth' -%}
          {%- assign mm3img = '380x' -%}
          {%- if columnitems.size == 4 -%}
          {% assign mmcolumns = 'large-up--one-quarter' %}
          {% assign mm3img = '475x' %}
          {% elsif columnitems.size == 3 %}
          {% assign mmcolumns = 'large-up--one-third' %}
          {% assign mm3img = '640x' %}
          {% elsif columnitems.size == 2 %}
          {% assign mmcolumns = 'large-up--one-half' %}
          {% assign mm3img = '900x' %}
          {% elsif columnitems.size == 1 %}
          {% assign mmcolumns = 'large-up--one-whole' %}
          {% assign mm3img = '1900x' %}
          {%- endif -%}

          {%- if block.settings.ttl1 != blank -%}
          <li class="grid__item {{mmcolumns}} lvl-1">
            {%- assign m3label1 = block.settings.ttl1 |  split: '[label' | last | split: ']' | first | prepend: "nm_label" -%}
            <a href="{% if block.settings.ttlurl1 != blank %}{{ block.settings.ttlurl1 }}{% else %}#{% endif %}" class="lvl-1">
              {%- assign img_url1 = block.settings.megamenu1_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          	  <img class="autoHt lazyload" src="{{'spacer.png' | asset_img_url: 'master' }}" width="{{ block.settings.megamenu1_image.width }}" height="{{ block.settings.megamenu1_image.height }}" data-src="{{ img_url1 }}" data-widths="[180, 360, 540, 720]"
                  data-aspectratio="{{ block.settings.megamenu1_image.aspect_ratio }}" data-sizes="auto" alt="{{ block.settings.megamenu1_image.alt | escape }}">
              <span class="title">{{ block.settings.ttl1 | split: '[label' | first }} {% if block.settings.ttl1 contains '[label' %}<span class="lbl {{m3label1}}">{{ section.settings[m3label1] }}</span>{% endif %}</span>
            </a>
            <ul>
              {% for link in linklists[block.settings.mm_linkcol1].links %}
              	<li class="lvl-2{% if link.active %} active{% endif %}">
                  {%- assign label = link.title |  split: '[label' | last | split: ']' | first | prepend: "nm_label" -%}
                  <a href="{{ link.url }}" class="site-nav">{{ link.title | split: '[label' | first }}{% if link.title contains '[label' %}<span class="lbl {{label1}}">{{ section.settings[label] }}</span>{% endif %}</a>
              	</li>
              {% endfor %}
            </ul>
          </li>
          {%- endif -%}
          {%- if block.settings.ttl2 != blank -%}
          <li class="grid__item {{mmcolumns}} lvl-1">
            {%- assign m3label2 = block.settings.ttl2 |  split: '[label' | last | split: ']' | first | prepend: "nm_label" -%}
            <a href="{% if block.settings.ttlurl2 != blank %}{{ block.settings.ttlurl2 }}{% else %}#{% endif %}" class="lvl-1">
              {%- assign img_url2 = block.settings.megamenu2_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          	  <img class="autoHt lazyload" src="{{'spacer.png' | asset_img_url: 'master' }}" width="{{ block.settings.megamenu2_image.width }}" height="{{ block.settings.megamenu2_image.height }}" data-src="{{ img_url2 }}" data-widths="[180, 360, 540, 720]"
                  data-aspectratio="{{ block.settings.megamenu2_image.aspect_ratio }}" data-sizes="auto" alt="{{ block.settings.megamenu2_image.alt | escape }}">
              <span class="title">{{ block.settings.ttl2 | split: '[label' | first }} {% if block.settings.ttl2 contains '[label' %}<span class="lbl {{m3label2}}">{{ section.settings[m3label2] }}</span>{% endif %}</span>
            </a>
            <ul>
              {% for link in linklists[block.settings.mm_linkcol2].links %}
              	<li class="lvl-2{% if link.active %} active{% endif %}">
                  {%- assign label = link.title |  split: '[label' | last | split: ']' | first | prepend: "nm_label" -%}
                  <a href="{{ link.url }}" class="site-nav">{{ link.title | split: '[label' | first }}{% if link.title contains '[label' %}<span class="lbl {{label1}}">{{ section.settings[label] }}</span>{% endif %}</a>
              	</li>
              {% endfor %}
            </ul>
          </li>
          {%- endif -%}
          {%- if block.settings.ttl3 != blank -%}
          <li class="grid__item {{mmcolumns}} lvl-1">
            {%- assign m3label3 = block.settings.ttl3 |  split: '[label' | last | split: ']' | first | prepend: "nm_label" -%}
            <a href="{% if block.settings.ttlurl3 != blank %}{{ block.settings.ttlurl3 }}{% else %}#{% endif %}" class="lvl-1">
              {%- assign img_url3 = block.settings.megamenu3_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          	  <img class="autoHt lazyload" src="{{'spacer.png' | asset_img_url: 'master' }}" width="{{ block.settings.megamenu3_image.width }}" height="{{ block.settings.megamenu3_image.height }}" data-src="{{ img_url3 }}" data-widths="[180, 360, 540, 720]"
                  data-aspectratio="{{ block.settings.megamenu3_image.aspect_ratio }}" data-sizes="auto" alt="{{ block.settings.megamenu3_image.alt | escape }}">
              <span class="title">{{ block.settings.ttl3 | split: '[label' | first }} {% if block.settings.ttl3 contains '[label' %}<span class="lbl {{m3label3}}">{{ section.settings[m3label3] }}</span>{% endif %}</span>
            </a>
            <ul>
              {% for link in linklists[block.settings.mm_linkcol3].links %}
              	<li class="lvl-2{% if link.active %} active{% endif %}">
                  {%- assign label = link.title |  split: '[label' | last | split: ']' | first | prepend: "nm_label" -%}
                  <a href="{{ link.url }}" class="site-nav">{{ link.title | split: '[label' | first }}{% if link.title contains '[label' %}<span class="lbl {{label1}}">{{ section.settings[label] }}</span>{% endif %}</a>
              	</li>
              {% endfor %}
            </ul>
          </li>
          {%- endif -%}
          {%- if block.settings.ttl4 != blank -%}
          <li class="grid__item {{mmcolumns}} lvl-1">
            {%- assign m3label4 = block.settings.ttl4 |  split: '[label' | last | split: ']' | first | prepend: "nm_label" -%}
            <a href="{% if block.settings.ttlurl4 != blank %}{{ block.settings.ttlurl4 }}{% else %}#{% endif %}" class="lvl-1">
              {%- assign img_url4 = block.settings.megamenu4_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          	  <img class="autoHt lazyload" src="{{'spacer.png' | asset_img_url: 'master' }}" width="{{ block.settings.megamenu4_image.width }}" height="{{ block.settings.megamenu4_image.height }}" data-src="{{ img_url4 }}" data-widths="[180, 360, 540, 720]"
                  data-aspectratio="{{ block.settings.megamenu4_image.aspect_ratio }}" data-sizes="auto" alt="{{ block.settings.megamenu4_image.alt | escape }}">
              <span class="title">{{ block.settings.ttl4 | split: '[label' | first }} {% if block.settings.ttl4 contains '[label' %}<span class="lbl {{m3label4}}">{{ section.settings[m3label4] }}</span>{% endif %}</span>
            </a>
            <ul>
              {% for link in linklists[block.settings.mm_linkcol4].links %}
              	<li class="lvl-2{% if link.active %} active{% endif %}">
                  {%- assign label = link.title |  split: '[label' | last | split: ']' | first | prepend: "nm_label" -%}
                  <a href="{{ link.url }}" class="site-nav">{{ link.title | split: '[label' | first }}{% if link.title contains '[label' %}<span class="lbl {{label1}}">{{ section.settings[label] }}</span>{% endif %}</a>
              	</li>
              {% endfor %}
            </ul>
          </li>
          {%- endif -%}
          {%- if block.settings.ttl5 != blank -%}
          <li class="grid__item {{mmcolumns}} lvl-1">
            {%- assign m3label5 = block.settings.ttl5 |  split: '[label' | last  | split: ']' | first | prepend: "nm_label" -%}
            <a href="{% if block.settings.ttlurl5 != blank %}{{ block.settings.ttlurl5 }}{% else %}#{% endif %}" class="lvl-1">
              {%- assign img_url5 = block.settings.megamenu5_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
          	  <img class="autoHt lazyload" src="{{'spacer.png' | asset_img_url: 'master' }}" width="{{ block.settings.megamenu5_image.width }}" height="{{ block.settings.megamenu5_image.height }}" data-src="{{ img_url5 }}" data-widths="[180, 360, 540, 720]"
                  data-aspectratio="{{ block.settings.megamenu5_image.aspect_ratio }}" data-sizes="auto" alt="{{ block.settings.megamenu5_image.alt | escape }}">
              <span class="title">{{ block.settings.ttl5 | split: '[label' | first }} {% if block.settings.ttl5 contains '[label' %}<span class="lbl {{m3label5}}">{{ section.settings[m3label5] }}</span>{% endif %}</span>
            </a>
            <ul>
              {% for link in linklists[block.settings.mm_linkcol5].links %}
              	<li class="lvl-2{% if link.active %} active{% endif %}">
                  {%- assign label = link.title |  split: '[label' | last | split: ']' | first | prepend: "nm_label" -%}
                  <a href="{{ link.url }}" class="site-nav">{{ link.title | split: '[label' | first }}{% if link.title contains '[label' %}<span class="lbl {{label1}}">{{ section.settings[label] }}</span>{% endif %}</a>
              	</li>
              {% endfor %}
            </ul>
          </li>
          {%- endif -%}
        </ul>
      </div>
    </li>
    {%- endif -%}

    {%- when 'megamenu4' -%}
    {%- if block.settings.title != blank -%}
    <li class="lvl1 parent megamenu{% if block.settings.custom_size %} ctsize{% endif %}" {{ block.shopify_attributes }}>{{linkLevel1}}
      {%- if linklists[block.settings.mm_linklist].links != blank -%}
      <div class="megamenu style4{% if block.settings.custom_size %} {{block.settings.mm_align}}{% else %} mmfull{% endif %}" style="{% if block.settings.custom_size %}width:{{block.settings.mm_size}}px;{% endif %}{% if block.settings.mm4_bg != blank %}background-image:url({{block.settings.mm4_bg | img_url: "master"}});background-position:top {{block.settings.mm4_img_position}};{% endif %}">
        <ul class="grid grid--uniform mmWrapper" {% if block.settings.mm4_bg != blank %}style="padding-{{block.settings.mm4_img_position}}:{{block.settings.mm4_space}};"{% endif %}>
          {% for link in linklists[block.settings.mm_linklist].links %}{%- include 'mm-links' -%}{% endfor %}
        </ul>
      </div>
      {%- endif -%}
    </li>
    {%- endif -%}

    {%- when 'megamenu5' -%}
    {%- if block.settings.title != blank -%}
    <li class="lvl1 parent megamenu{% if block.settings.custom_size %} ctsize{% endif %}" {{ block.shopify_attributes }}>{{linkLevel1}}
      {%- case block.settings.mmcolumns -%}
      {% when 1 %}{%- assign column = 'large-up--one-whole' -%}
      {% when 2 %}{%- assign column = 'large-up--one-half' -%}
      {% when 3 %}{%- assign column = 'large-up--one-third' -%}
      {% when 4 %}{%- assign column = 'large-up--one-quarter' -%}
      {% when 5 %}{%- assign column = 'large-up--one-fifth' -%}
      {% when 6 %}{%- assign column = 'large-up--one-sixth' -%}
      {%- endcase -%}
      <div class="megamenu style5{% if block.settings.custom_size %} {{block.settings.mm_align}}{% else %} mmfull{% endif %}"{% if block.settings.custom_size %} style="width:{{block.settings.mm_size}}px;"{% endif %}>
        <ul class="grid grid--uniform mmWrapper {{block.settings.mm_linkStyle}}">
          {%- for link in linklists[block.settings.mm_linklist].links -%}
          <li class="grid__item {{column}} lvl-1">
            {%- assign navImg = link.title | handleize -%}
            <a href="{{ link.url }}" class="site-nav lvl-1">
              {%- if block.settings.mm_linkStyle == "above" -%}<span class="imgOver">{{ link.title }}</span>{%- endif -%}
              <img class="lazyload" data-src="{{ navImg | append: '.jpg' | file_img_url: '400x' }}" alt="{{ link.title }}" />
              {%- if block.settings.mm_linkStyle != "above" -%}<span class="imgOver">{{ link.title }}</span>{%- endif -%}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </div>
    </li>
    {%- endif -%}

    {%- when 'megamenu6' -%}
    {%- if block.settings.title != blank -%}
    <li class="lvl1 parent megamenu{% if block.settings.custom_size %} ctsize{% endif %}" {{ block.shopify_attributes }}>{{linkLevel1}}
      <div class="megamenu style5{% if block.settings.custom_size %} {{block.settings.mm_align}}{% else %} mmfull{% endif %}"{% if block.settings.custom_size %} style="width:{{block.settings.mm_size}}px;"{% endif %}>
        {{ block.settings.mm_html }}
        <div>&nbsp;</div>
      </div>
    </li>
    {%- endif -%}

    {%- when 'dropdown' -%}
    {%- if block.settings.title != blank -%}<li class="lvl1 parent dropdown" {{ block.shopify_attributes }}>{{linkLevel1}}<ul class="dropdown">{% for link in linklists[block.settings.mm_linklist].links %}{% include 'mm-dropdown' %}{% endfor %}</ul></li>{%- endif -%}

    {%- endcase -%}
    {%- endfor -%}
</ul>
<!--mmobile-->
<div class="mobile-nav-wrapper large-up--hide" role="navigation">
  <div class="closemobileMenu"><i class="ad ad-times-circle pull-right" aria-hidden="true"></i> {{ 'general.accessibility.close_menu' | t}}</div>
  <ul id="MobileNav" class="mobile-nav siteNavigation">
    {%- for block in section.blocks -%}
    {%- assign label = block.settings.title |  split: '[label' | last  | split: ']' | first | prepend: "nm_label" -%}
    {%- capture linkLevel1 -%}<a href="{% if block.settings.url != blank %}{{ block.settings.url }}{% else %}#{% endif %}">{{ block.settings.title | split: '[label' | first }}{% if block.settings.title contains '[label' %} <span class="lbl {{label}}">{{ section.settings[label] }}</span>{% endif %} <i class="ad ad-plus-l"></i></a>{%- endcapture -%}
    {%- if block.type == 'homelink' -%}
    	<li class="lvl1"><a href="{{routes.root_url}}">{{ block.settings.title}}</a></li>
    {%- endif -%}
    {%- if block.type == 'single_link' -%}
    {%- assign singlelabel = block.settings.title |  split: '[label' | last  | split: ']' | first | prepend: "nm_label" -%}
    <li class="lvl1">{{linkLevel1 | replace: '<i class="ad ad-plus-l"></i>',''}}</li>
    {%- endif -%}
    {%- if block.type == 'megamenu1' or block.type == 'megamenu4' or block.type == 'megamenu5' or block.type == 'dropdown' -%}
    {%- if block.settings.title != blank -%}<li class="lvl1 parent megamenu">{{linkLevel1}}<ul>{% for link in linklists[block.settings.mm_linklist].links %}{% include 'mm-mobile-links' %}{% endfor %}</ul></li>{%- endif -%}
    {%- endif -%}
    {%- if block.type == 'megamenu2' -%}
    {%- if block.settings.title != blank -%}<li class="lvl1 parent megamenu">{{linkLevel1}}
    	<ul>
          {%- assign collection = collections[block.settings.collection] -%}
            {% for product in collection.products limit: block.settings.pr_limit %}
            <li class="lvl-2"><a href="{{ product.url }}" class="site-nav">{{ product.title }}</a></li>
            {% endfor %}
          	{%- if block.settings.prodall != blank -%}<li class="lvl-2"><a href="{{collection.url}}" class="site-nav">{{block.settings.prodall}}</a></li>{%- endif -%}
          	{%- if block.settings.ftcl and block.settings.ft_link != blank and block.settings.ftcl_title != blank -%}
            	<li class="lvl-2"><a href="{{block.settings.ft_link}}" class="site-nav">{{block.settings.ftcl_title}}</a></li>
          	{%- endif -%}
        </ul>
    {%- endif -%}
    {%- endif -%}
    {%- if block.type == 'megamenu3' -%}
    {%- if block.settings.title != blank -%}
    <li class="lvl1 parent megamenu">{{linkLevel1}}
      <ul>
        {%- if block.settings.ttl1 != blank -%}
        <li class="lvl-1">
          <a href="{% if block.settings.ttlurl1 != blank %}{{ block.settings.ttlurl1 }}{% else %}#{% endif %}" class="lvl-1">{{ block.settings.ttl1 }}{% if block.settings.mm_linkcol1 != blank %}<i class="ad ad-plus-r" aria-hidden="true"></i>{% endif %}</a>
          <ul>
            {% for link in linklists[block.settings.mm_linkcol1].links %}
            <li class="lvl-2{% if link.active %} active{% endif %}">
            	{%- assign label = link.title |  split: '[label' | last | split: ']' | first | prepend: "nm_label" -%}
                <a href="{{ link.url }}" class="site-nav">{{ link.title | split: '[label' | first }}{% if link.title contains '[label' %}<span class="lbl {{label1}}">{{ section.settings[label] }}</span>{% endif %}</a>
            </li>
            {% endfor %}
          </ul>
        </li>
        {%- endif -%}

        {%- if block.settings.ttl2 != blank -%}
        <li class="lvl-1">
          <a href="{% if block.settings.ttlurl2 != blank %}{{ block.settings.ttlurl2 }}{% else %}#{% endif %}" class="lvl-1">{{ block.settings.ttl2 }}{% if block.settings.mm_linkcol2 != blank %}<i class="ad ad-plus-r" aria-hidden="true"></i>{% endif %}</a>
          <ul>
            {% for link in linklists[block.settings.mm_linkcol2].links %}
            	<li class="lvl-2{% if link.active %} active{% endif %}">
                    {%- assign label = link.title |  split: '[label' | last | split: ']' | first | prepend: "nm_label" -%}
                    <a href="{{ link.url }}" class="site-nav">{{ link.title | split: '[label' | first }}{% if link.title contains '[label' %}<span class="lbl {{label1}}">{{ section.settings[label] }}</span>{% endif %}</a>
                </li>
            {% endfor %}
          </ul>
        </li>
        {%- endif -%}

        {%- if block.settings.ttl3 != blank -%}
        <li class="lvl-1">
          <a href="{% if block.settings.ttlurl3 != blank %}{{ block.settings.ttlurl3 }}{% else %}#{% endif %}" class="lvl-1">{{ block.settings.ttl3 }}{% if block.settings.mm_linkcol3 != blank %}<i class="ad ad-plus-r" aria-hidden="true"></i>{% endif %}</a>
          <ul>
            {% for link in linklists[block.settings.mm_linkcol3].links %}
            	<li class="lvl-2{% if link.active %} active{% endif %}">
                    {%- assign label = link.title |  split: '[label' | last | split: ']' | first | prepend: "nm_label" -%}
                    <a href="{{ link.url }}" class="site-nav">{{ link.title | split: '[label' | first }}{% if link.title contains '[label' %}<span class="lbl {{label1}}">{{ section.settings[label] }}</span>{% endif %}</a>
                </li>
            {% endfor %}
          </ul>
        </li>
        {%- endif -%}

        {%- if block.settings.ttl4 != blank -%}
        <li class="lvl-1">
          <a href="{% if block.settings.ttlurl4 != blank %}{{ block.settings.ttlurl4 }}{% else %}#{% endif %}" class="lvl-1">{{ block.settings.ttl4 }}{% if block.settings.mm_linkcol4 != blank %}<i class="ad ad-plus-r" aria-hidden="true"></i>{% endif %}</a>
          <ul>
            {% for link in linklists[block.settings.mm_linkcol4].links %}
            	<li class="lvl-2{% if link.active %} active{% endif %}">
                    {%- assign label = link.title |  split: '[label' | last | split: ']' | first | prepend: "nm_label" -%}
                    <a href="{{ link.url }}" class="site-nav">{{ link.title | split: '[label' | first }}{% if link.title contains '[label' %}<span class="lbl {{label1}}">{{ section.settings[label] }}</span>{% endif %}</a>
                </li>
            {% endfor %}
          </ul>
        </li>
        {%- endif -%}

        {%- if block.settings.ttl5 != blank -%}
        <li class="lvl-1">
          <a href="{% if block.settings.ttlurl5 != blank %}{{ block.settings.ttlurl5 }}{% else %}#{% endif %}" class="lvl-1">{{ block.settings.ttl5 }}{% if block.settings.mm_linkcol5 != blank %}<i class="ad ad-plus-r" aria-hidden="true"></i>{% endif %}</a>
          <ul>
            {% for link in linklists[block.settings.mm_linkcol5].links %}
            	<li class="lvl-2{% if link.active %} active{% endif %}">
                    {%- assign label = link.title |  split: '[label' | last | split: ']' | first | prepend: "nm_label" -%}
                    <a href="{{ link.url }}" class="site-nav">{{ link.title | split: '[label' | first }}{% if link.title contains '[label' %}<span class="lbl {{label1}}">{{ section.settings[label] }}</span>{% endif %}</a>
                </li>
            {% endfor %}
          </ul>
        </li>
        {%- endif -%}
      </ul>
    </li>
    {%- endif -%}
    {%- endif -%}
    {%- endfor -%}
    <li></li><li></li>
    {% if shop.customer_accounts_enabled  %}
    {% if customer %}
    <li><a href="{{ routes.account_url }}">{{ 'customer.account.title' | t }}</a></li>
    <li><a href="{{ routes.account_logout_url }}"><b>{{ 'customer.account.logout' | t }}</b></a></li>
    {% else %}
    <li><a href="{{ routes.account_login_url }}">{{ 'customer.login.form_title' | t }}</a></li>
    {% if shop.customer_accounts_optional %}<li><a href="{{routes.account_register_url}}">{{ 'customer.register.link' | t }}</a></li>{% endif %}
    {% endif %}
    {% endif %}
    {% if settings.enable_wishlist %}<li><a href="{{pages[settings.wishlist_page].url}}" title="{{ 'products.wishlist.title' | t }}">{{ 'products.wishlist.title' | t }}</a></li>{% endif %}
  </ul>
</div>
<!--mmobileend -->
{%- endif -%}

{% schema %}
  {
    "name": "Main Navigation",
    "class": "small--hide medium--hide",
    "settings": [
	{
		 "type": "paragraph",
		 "content":"[chekout all styles and how to set](https://www.adornthemes.com/knowledge-base/how-to-use-megamenu-navigation/)."
      }, 
	{
		 "type": "paragraph",
		 "content":"Change fonts size and colors from Theme Settings --> Fonts, Colors and Styles --> Navigation"
      },
     {
        "type": "checkbox",
        "id": "menuarrow",
        "label": "Show Arrow",
        "default": true
      },
      {
        "type": "select",
        "id": "menuAlign",
        "label": "Menu Alignment",
        "default": "left",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
      	]
      },
      {
		"type": "paragraph",
        "content": "Menu Labels"
	  },
	  {
        "type": "text",
        "id": "nm_label1",
        "label":"Menu Label 1",
        "default": "New"
      },
	  {
        "type": "text",
        "id": "nm_label2",
        "label":"Menu Label 2",
        "default": "Sale"
      },
	  {
        "type": "text",
        "id": "nm_label3",
        "label":"Menu Label 3",
        "default": "Hot"
      },
	  {
        "type": "text",
        "id": "nm_label4",
        "label":"Menu Label 4",
        "default": "Populer"
      },
	  {
        "type": "text",
        "id": "nm_label5",
        "label":"Menu Label 5",
        "default": "New"
      }      
	],
    "blocks": [
	  {
        "type": "homelink",
        "name": "Home Link",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Link Name",
			"default": "Home"
          }  
        ]
      },
 	 {
        "type": "loginlink",
        "name": "Login Link",
        "settings": [
          {
            "type": "text",
            "id": "loginlink",
            "label": "Link Name (Optional)",
			"default": "Login",
			"info":"You can add store login  here Or you can display store login with top right icon"
          },
		 {
            "type": "paragraph",           
			"content":"You need to select 'Accounts are optional' from Store Settings --> Checkout "
          }  
        ]
      },
      {
        "type": "single_link",
        "name": "Single Link",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Link Name"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Menu Link"
          },
		  {
            "type": "checkbox",
            "id": "newtab",
            "label": "Open Link in New Window?"
          }  
        ]
      },
	  {
        "type": "megamenu1",
        "name": "MM Simple",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Link Name"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Menu Link"
          },
 			{
            "type": "checkbox",
            "id": "newtab",
            "label": "Open Link in New Window?"
          },  
          {
            "type": "link_list",
            "id": "mm_linklist",
            "label": "Select Menu",
            "default": "main-menu"
          },
          {
            "type": "range",
            "id": "mmcolumns",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Select Columns",
            "default": 2
          },
          {
            "type": "header",
            "content": "=== Image Columns ==="
          },
          {
            "type": "select",
            "id": "imgcall",
            "label": "Right or Bottom",
            "default": "right",
			"info": "You can show images at right or bottom of links",
            "options": [
              {
                "value": "right",
                "label": "Right"
              },
              {
                "value": "bottom",
                "label": "Bottom"
              }
            ]
          },
          {
            "type": "range",
            "id": "columnWidth",
            "min": 20,
            "max": 100,
            "step": 1,
            "label": "Column Width",
            "default": 50,
			"unit": "%",
			"info": "Option work when images show right of links"
          },
          {
            "type": "range",
            "id": "mmimgcolumns",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": "Columns per row",
            "default": 2
          },
          {
            "type": "paragraph",
            "content": "Image 1 ==="
          },
          {
            "type": "image_picker",
            "id": "megamenu1_image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "imageTtl1",
            "label": "Title Text"
          },
          {
            "type": "url",
            "id": "imageurl",
            "label": "Link on Image"
          },
          {
            "type": "paragraph",
            "content": "Image 2 ==="
          },
          {
            "type": "image_picker",
            "id": "megamenu2_image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "imageTtl2",
            "label": "Title Text"
          },
          {
            "type": "url",
            "id": "Image2url",
            "label": "Image 2 Link"
          },
          {
            "type": "paragraph",
            "content": "Image 3 ==="
          },
          {
            "type": "image_picker",
            "id": "megamenu3_image",
            "label": "Image 3"
          },
          {
            "type": "text",
            "id": "imageTtl3",
            "label": "Title Text"
          },
          {
            "type": "url",
            "id": "Image3url",
            "label": "Image 3 Link"
          },
          {
            "type": "paragraph",
            "content": "Image 4 ==="
          },
          {
            "type": "image_picker",
            "id": "megamenu4_image",
            "label": "Image 4",
            "info": "Image to show in Megamenu"
          },
          {
            "type": "text",
            "id": "imageTtl4",
            "label": "Title Text"
          },
          {
            "type": "url",
            "id": "Image4url",
            "label": "Image 4 Link"
          },
          {
            "type": "header",
            "content": "=== Custom size & Align ==="
          },
          {
            "type": "checkbox",
            "id": "custom_size",
            "label": "Custom Width?",
            "default": false
          },
          {
            "type": "text",
            "id": "mm_size",
            "label": "Box Width",
            "default": "600"
          },
          {
            "type": "select",
            "id": "mm_align",
            "label": "Box Align",
			"default": "center",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ]
          }
        ]
      },
	  {
        "type": "megamenu2",
        "name": "MM Products",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Link Name"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Menu Link"
          },
 		  {
            "type": "checkbox",
            "id": "newtab",
            "label": "Open Link in New Window?"
          },  
          {
          	"type": "collection",
          	"id": "collection",
          	"label": "Sellect Collection"
          },
          {
            "type": "range",
            "id": "pr_limit",
            "min": 2,
            "max": 20,
            "step": 1,
            "label": "Products Limit",
            "default": 6
          },
          {
            "type": "range",
            "id": "mmcolumns",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Select Columns",
            "default": 2
          },
          {
            "type": "text",
            "id": "prodall",
            "label": "Button Text",
            "default": "View All Products"
          },
          {
            "type": "header",
            "content": "=== Featured Column ==="
          },
          {
            "type": "checkbox",
            "id": "ftcl",
            "label": "Enable ?",
			"default": true
          },
          {
            "type": "range",
            "id": "ftcl_width",
            "min": 20,
            "max": 80,
            "step": 1,
            "label": "Columns Width",
			"unit": "%",
            "default": 50
          },
          {
            "type": "image_picker",
            "id": "ftcl_image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "ftcl_title",
            "label": "Title"
          },
          {
            "type": "range",
            "id": "ftcl_title_size",
            "min": 13,
            "max": 100,
            "step": 1,
            "label": "Title Size",
            "default": 30
          },
          {
            "type": "text",
            "id": "ftcl_subtitle",
            "label": "Sub Title"
          },
          {
            "type": "range",
            "id": "ftcl_subtitle_size",
            "min": 10,
            "max": 40,
            "step": 1,
            "label": "Sub Title Size",
            "default": 15
          },
          {
            "type": "text",
            "id": "ftcl_btn",
            "label": "Button Text"
          },
          {
            "type": "url",
            "id": "ft_link",
            "label": "Link"
          },
          {
            "type": "color",
            "id": "ftcl_bg",
            "label": "Background",
            "default": "#333"
          },
          {
            "type": "color",
            "id": "ftcl_txt",
            "label": "Text",
            "default": "#fff"
          },
          {
            "type": "header",
            "content": "=== Custom size & Align ==="
          },
          {
            "type": "checkbox",
            "id": "custom_size",
            "label": "Custom Width?",
            "default": false
          },
          {
            "type": "text",
            "id": "mm_size",
            "label": "Box Width",
            "default": "600"
          },
          {
            "type": "select",
            "id": "mm_align",
            "label": "Box Align",
			"default": "center",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ]
          }
        ]
      },
	  {
        "type": "megamenu3",
        "name": "MM Top Image Columns",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Link Name"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Menu Link"
          },
 		  {
            "type": "checkbox",
            "id": "newtab",
            "label": "Open Link in New Window?"
          },  
		  {
            "type":"header",
        	"content": "Column 1"
          },
          {
            "type": "text",
            "id": "ttl1",
            "label": "Title text"
          },
          {
            "type": "image_picker",
            "id": "megamenu1_image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "ttlurl1",
            "label": "Image Link"
          },
          {
            "type": "link_list",
            "id": "mm_linkcol1",
            "label": "Select Menu"
          },
		  {
            "type":"header",
        	"content": "Column 2"
          },
          {
            "type": "text",
            "id": "ttl2",
            "label": "Title text"
          },
          {
            "type": "image_picker",
            "id": "megamenu2_image",
            "label": "Image"
          },
          {
            "type": "url",
            "id": "ttlurl2",
            "label": "Image Link"
          },
          {
            "type": "link_list",
            "id": "mm_linkcol2",
            "label": "Select Menu"
          },
		  {
            "type":"header",
        	"content": "Column 3"
          },
          {
            "type": "text",
            "id": "ttl3",
            "label": "Title text"
          },
          {
            "type": "image_picker",
            "id": "megamenu3_image",
            "label": "Image",
            "info": "Image to show in Megamenu"
          },
          {
            "type": "url",
            "id": "ttlurl3",
            "label": "Image Link"
          },
          {
            "type": "link_list",
            "id": "mm_linkcol3",
            "label": "Select Menu"
          },
		  {
            "type":"header",
        	"content": "Column 4"
          },
          {
            "type": "text",
            "id": "ttl4",
            "label": "Title text"
          },
          {
            "type": "image_picker",
            "id": "megamenu4_image",
            "label": "Image",
            "info": "Image to show in Megamenu"
          },
          {
            "type": "url",
            "id": "ttlurl4",
            "label": "Menu Link"
          },
          {
            "type": "link_list",
            "id": "mm_linkcol4",
            "label": "Select Menu"
          },
		  {
            "type":"header",
        	"content": "Column 5"
          },
          {
            "type": "text",
            "id": "ttl5",
            "label": "Title text"
          },
          {
            "type": "image_picker",
            "id": "megamenu5_image",
            "label": "Image",
            "info": "Image to show in Megamenu"
          },
          {
            "type": "url",
            "id": "ttlurl5",
            "label": "Menu Link"
          },
          {
            "type": "link_list",
            "id": "mm_linkcol5",
            "label": "Select Menu"
          },
          {
            "type": "header",
            "content": "=== Custom size & Align ==="
          },
          {
            "type": "checkbox",
            "id": "custom_size",
            "label": "Custom Width?",
            "default": false
          },
          {
            "type": "text",
            "id": "mm_size",
            "label": "Box Width",
            "default": "600"
          },
          {
            "type": "select",
            "id": "mm_align",
            "label": "Box Align",
			"default": "center",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ]
          }
        ]
      },
	  {
        "type": "megamenu4",
        "name": "MM Background Image",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Link Name"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Menu Link"
          },
		 {
            "type": "checkbox",
            "id": "newtab",
            "label": "Open Link in New Window?"
          }, 
          {
            "type": "link_list",
            "id": "mm_linklist",
            "label": "Select Menu",
            "default": "main-menu"
          },
          {
            "type": "range",
            "id": "mmcolumns",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Select Columns",
            "default": 3
          },
          {
            "type": "image_picker",
            "id": "mm4_bg",
            "label": "Background Image"
          },
          {
            "type": "select",
            "id": "mm4_img_position",
            "label": "Image Position",
			"default": "right",
            "options": [
              { "value": "left","label": "Left" },
              { "value": "right", "label": "Right" }
            ]
          },
          {
            "type": "select",
            "id": "mm4_space",
            "label": "Space for Image",
			"default": "30%",
            "options": [
              { "value": "20%","label": "20%" },
              { "value": "30%", "label": "30%" },
              { "value": "40%", "label": "40%" },
              { "value": "50%", "label": "50%" },
              { "value": "60%", "label": "60%" },
              { "value": "70%", "label": "70%" }
            ]
          },
          {
            "type": "header",
            "content": "=== Custom size & Align ==="
          },
          {
            "type": "checkbox",
            "id": "custom_size",
            "label": "Custom Width?",
            "default": false
          },
          {
            "type": "text",
            "id": "mm_size",
            "label": "Box Width",
            "default": "600"
          },
          {
            "type": "select",
            "id": "mm_align",
            "label": "Box Align",
			"default": "center",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ]
          }
        ]
      },
	  {
        "type": "megamenu5",
        "name": "MM Links with Image",
        "settings": [
		  {
            "type": "text",
            "id": "title",
            "label": "Link Name"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Menu Link"
          },
 			{
            "type": "checkbox",
            "id": "newtab",
            "label": "Open Link in New Window?"
          },  
          {
            "type": "link_list",
            "id": "mm_linklist",
            "label": "Select Menu",
            "default": "main-menu",
			"info": "You need upload images for each menu links. Image name must be same as link name and use '-' instead of space. Example(Women Clothing = women-clothing.jpg) Upload images at 'Store admin > settings > files'"
          },
          {
            "type": "select",
            "id": "mm_linkStyle",
            "label": "Title Possition",
			"default": "over",
            "options": [
              { "value": "above", "label": "Above Image" },
			  { "value": "over", "label": "Over Image" },
              { "value": "below", "label": "Below Image" }
            ]
          },
          {
            "type": "range",
            "id": "mmcolumns",
            "min": 1,
            "max": 6,
            "step": 1,
            "label": "Select Columns",
            "default": 5
          },
          {
            "type": "header",
            "content": "=== Custom size & Align ==="
          },
          {
            "type": "checkbox",
            "id": "custom_size",
            "label": "Custom Width?",
            "default": false
          },
          {
            "type": "text",
            "id": "mm_size",
            "label": "Box Width",
            "default": "600"
          },
          {
            "type": "select",
            "id": "mm_align",
            "label": "Box Align",
			"default": "center",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ]
          }
        ]
      },
	  {
        "type": "megamenu6",
        "name": "MM Custom HTML",
        "settings": [
		  {
            "type": "paragraph",
            "content": "This link block show in desktop only. It will not come in mobiles."
          },
		  {
            "type": "text",
            "id": "title",
            "label": "Link Name"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Menu Link"
 	         },
 			{
            "type": "checkbox",
            "id": "newtab",
            "label": "Open Link in New Window?"
          },  
          {
            "type": "textarea",
            "id": "mm_html",
            "label": "HTMl Code",
			"info": "Enter your Custom HTML code here."
          },
          {
            "type": "header",
            "content": "=== Custom Box size ==="
          },
          {
            "type": "checkbox",
            "id": "custom_size",
            "label": "Custom Width?",
            "default": false
          },
          {
            "type": "text",
            "id": "mm_size",
            "label": "Box Width",
            "default": "600"
          },
          {
            "type": "select",
            "id": "mm_align",
            "label": "Box Align",
			"default": "center",
            "options": [
              { "value": "left", "label": "Left" },
              { "value": "center", "label": "Center" },
              { "value": "right", "label": "Right" }
            ]
          }
        ]
      },
      {
        "type": "dropdown",
        "name": "Dropdown Menu",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Link Name"
          },
          {
            "type": "url",
            "id": "url",
            "label": "Menu Link"
          },
          {
            "type": "link_list",
            "id": "mm_linklist",
            "label": "Select Menu",
            "default": "main-menu"
          }
        ]
      }
    ]
  }
{% endschema %}