<style type="text/css">
  {% if section.settings.password_bg %}
  .password-page, #LoginModal { background:url({{section.settings.password_bg  | img_url: '2048x'}}) no-repeat 50% 50%/cover; }
  {% else %}
  .password-page, #LoginModal { background-color:{{section.settings.bg_color}}; }
  {% endif %}
  .shopify-section { color:{{section.settings.cnt_txt}}; display:inline-block; max-width:600px; padding:35px; margin:0 auto; position:relative; }
  .shopify-section:after { content:""; display:block; width:100%; height:100%; position:absolute; top:0; left:0; z-index:1;
    background-color:{{section.settings.cnt_bg}}; opacity:{{section.settings.cnt_bg_opacity}};
  }
  .shopify-section h1, .shopify-section h2, .password__form-heading, .share-title { color:{{section.settings.cnt_txt}}; }
  .passCnt { position:relative; z-index:2; }
  @media only screen and (max-width: 766px) {
    .shopify-section { padding:20px; }
  }
</style>

<div class="passCnt">
  {% if section.settings.logo %}
  <a href="/" itemprop="url" class="site-header__logo-image">
    {% capture image_size %}{{ section.settings.logo_max_width | escape }}x{% endcapture %}
    <img src="{{ section.settings.logo | img_url: image_size }}"
         srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
         alt="{{ section.settings.logo.alt | default: shop.name }}"
         itemprop="logo">
  </a>
  {% else %}
  <h1 class="site-header__logo-link" href="/" itemprop="url">
    <span class="logo">{{ shop.name }}</span>
  </h1>
  {% endif %}

  <h2 class="password__title">{{ section.settings.header | escape }}</h2>

  {% comment %}
  Password message which you can edit on http://www.shopify.com/admin/online_store/preferences
  {% endcomment %}
  {% unless shop.password_message == blank %}
  <div class="password-message">
    {{ shop.password_message }}
  </div>
  {% endunless %}

  {% if section.settings.newsletter_enable %}
  {% form 'customer' %}
  {{ form.errors | default_errors }}
  {% if form.posted_successfully? %}
  <ul class="form--success">
    <li>{{ 'general.password_page.signup_form_success' | t }}</li>
  </ul>
  {% else %}
  <p class="password__form-heading h4">
    {{ section.settings.newsletter_form_heading | escape }}
  </p>
  <input type="hidden" name="contact[tags]" value="prospect, password page">
  <label for="email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>
  <div class="input-group password__input-group">
    <input type="email" name="contact[email]" id="Email" class="input-group__field" placeholder="{{ section.settings.newsletter_placeholder | escape }}">
    <span class="input-group__btn">
      <button type="submit" name="commit" class="btn">
        <span>{{ section.settings.newsletter_button_text | escape }}</span>
      </button>
    </span>
  </div>
  {% endif %}
  {% endform %}
  {% endif %}

  {% if section.settings.show_share_buttons %}
  <div class="password-social-sharing">
    <p class="password__form-heading h4">{{ section.settings.social_message | escape }}</p>
    {% include 'social-sharing' %}
  </div>
  {% endif %}
  
  {% if section.settings.show_powered_by %}
  <div class="password-powered-by">
    {% capture shopify %}
    <a class="classic-link shopify-link" href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify">Shopify</a>
    {% endcapture %}

    <small>{{ 'general.password_page.powered_by_shopify_html' | t: shopify: shopify }}</small>
  </div>
  {% endif %}
</div>

{% schema %}
  {
    "name": "Content",
    "settings": [
	  {
		"type":"header",
		"content": "Header"
	  },
	  {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "text",
        "id": "header",
        "label": "Heading",
        "default": "Coming Soon"
      },
	  {
		"type":"header",
		"content": "Content"
	  },
      {
        "type": "checkbox",
        "id": "newsletter_enable",
        "label": "Show newsletter signup",
        "default": true
      },
      {
        "type": "text",
        "id": "newsletter_form_heading",
        "label": "Newsletter form heading",
        "default": "Be the first to know when we launch.",
        "info": "[Tell your visitors about a launch day discount](https://www.shopify.com/blog/15514000-14-ways-to-use-offers-coupons-discounts-and-deals-to-drive-revenue-and-customer-loyalty)."
      },
      {
        "type": "text",
        "id": "newsletter_placeholder",
        "label": "Newsletter placeholder text",
        "default": "Email address"
      },
      {
        "type": "text",
        "id": "newsletter_button_text",
        "label": "Newsletter button text",
        "default": "Notify me"
      },
	  {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      },
		{
        "type": "checkbox",
        "id": "show_powered_by",
        "label": "Show powered by text?",
        "default": false
      },
      {
        "type": "text",
        "id": "social_message",
        "label": "Social sharing buttons heading",
        "default": "Spread the word"
      },
	  {
		"type":"header",
		"content": "Colors & backgrounds"
	  },
	  {
        "type": "image_picker",
        "id": "password_bg",
        "label": "Background Image",
        "info": "Images size should be 2000x1000"
      },
	  {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color",
        "default": "#777"
      },
	  {
        "type": "color",
        "id": "cnt_bg",
        "label": "Content Background",
        "default": "#fff"
      },
      {
        "type": "select",
        "id": "cnt_bg_opacity",
        "label": "Background Opacity",
        "default": "0.5",
        "options": [
		  { "label": "100%", "value": "1" },
          { "label": "90%", "value": "0.9" },
          { "label": "80%", "value": "0.8" },
          { "label": "70%", "value": "0.7" },
          { "label": "60%", "value": "0.6" },
          { "label": "50%", "value": "0.5" },
          { "label": "40%", "value": "0.4" },
          { "label": "30%", "value": "0.3" },
          { "label": "20%", "value": "0.2" },
          { "label": "10%", "value": "0.1" },
          { "label": "0%", "value": "0" }
        ]
      },
	  {
        "type": "color",
        "id": "cnt_txt",
        "label": "Content Text",
        "default": "#000"
      }

    ]
  }
{% endschema %}
